@keyframes filling {
  0% {
    stroke-dashoffset: calc(14px * 3.14 * 2)
  }
  100% {
    stroke-dashoffset: 0
  }
}

.new-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;

  margin-top: 7.4rem;

  @include breakpoint(tablet) {
    margin-top: 4.5rem;
  }

  &__item {
    position: relative;

    flex-shrink: 0;
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 50%;
    background-color: #174F77;
    opacity: 0.2;

    transition: opacity 0.3s ease;

    svg {
      width: 28px;
      height: 28px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transform-origin: center center;
      transition: opacity 0.3s ease;
      opacity: 0;
      overflow: visible;

      circle:last-child {
        transition: stroke-dasharray 0.3s ease;
        stroke-dasharray: calc(14px * 3.14 * 2);
        stroke-dashoffset: calc(14px * 3.14 * 2);
      }
    }

    &:focus {
      box-shadow: none;
    }

    &.active {
      opacity: 1;

      svg {
        opacity: 1;

        circle:last-child {
          animation-name: filling;
          animation-iteration-count: infinite;
          animation-timing-function: linear;
          animation-duration: 10s;
        }
      }
    }
  }
}