.simple-numbered-list {
  position: relative;

  &__line {
    position: absolute;
    top: 0;
    left: 1.9rem;
    z-index: 1;

    width: 0;
    height: 0;
    border-right: 0.2rem dashed $primary-300;

    transition: height 0.3s ease-in;

    @include breakpoint(tablet) {
      left: 1.4rem;
    }
  }

  &__list {
    position: relative;
    z-index: 2;

    display: flex;
    flex-direction: column;
    gap: 4rem;

    @include breakpoint(tablet) {
      gap: 2.5rem;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 2rem;

    @include breakpoint(tablet) {
      gap: 1.5rem;
    }
  }

  &__number {
    flex-shrink: 0;
    align-self: flex-start;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;

    color: $grayscale-100;
    @extend %fs-h4;
    line-height: 1;

    background-color: $primary-300;

    user-select: none;

    @include breakpoint(tablet) {
      width: 3rem;
      height: 3rem;
    }
  }

  &__content {
    color: $grayscale-700;
    @extend %fs-t1;
  }
}