.socials {
  display: flex;
  align-items: center;
  gap: 2rem;

  &__item {

  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4.4rem;
    height: 4.4rem;

    border-radius: 50%;
    border: 0.2rem $grayscale-100 solid;

    img {
      width: 2.2rem;
      height: 2.2rem;
      object-fit: contain;
    }

    transition: opacity 0.3s ease;

    &:hover {
      opacity: 0.8;
    }
  }
}