.content-transitions {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;

  @include mq('custom', 'max', 768) {
    grid-template-columns: repeat(2, 1fr);
    gap: 0.8rem;
  }

  @include mq('custom', 'max', 640) {
    grid-template-columns: 1fr;
    gap: 0.4rem;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 2rem;
    min-height: 27.2rem;

    border-radius: 1.6rem;
    background: radial-gradient(78.68% 140.06% at 100% 0%, #27AAB7 0%, #0E5A8E 100%);
    overflow: hidden;

    @extend .title-h5;
    color: #fff;

    @include mq('custom', 'max', 1024) {
      min-height: 25rem;
    }

    @include mq('custom', 'max', 768) {
      min-height: 20rem;
    }

    @include mq('custom', 'max', 640) {
      flex-direction: row;
      align-items: center;
      min-height: auto;
      border-radius: 1.2rem;
    }
  }

  &__item-desc {
    max-width: 24.2rem;
  }

  &__item-link {
    margin-left: auto;
  }
}
