.steps {
  margin: var(--s-0) 0;
  &__inner {
  }

  &__title {
    color: $primary-900;
    @extend %fs-h2;
    max-width: 71.1rem;
    margin-bottom: 4rem;

    @include breakpoint(small-tablet) {
      margin-bottom: 3rem;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;

    @include breakpoint(small-tablet) {
      grid-template-columns: 1fr;
      gap: 1.5rem;
    }
  }

  &__step {
    padding: 3rem 4rem 7.7rem;
    border-radius: 3.2rem;
    background-color: $primary-100;

    @include breakpoint(small-tablet) {
      padding: 2.5rem;
    }
  }

  &__step-heading-block {
    display: flex;
    align-items: center;
    gap: 1.5rem;

    margin-bottom: 2rem;

    @include breakpoint(small-tablet) {
      margin-bottom: 1.5rem;
    }
  }

  &__step-number {
    flex-shrink: 0;
    width: 4.8rem;
    height: 4.8rem;
    border-radius: 50%;
    background-color: $primary-900;
    display: flex;
    align-items: center;
    justify-content: center;
    @extend %fs-h3;
    color: $grayscale-100;
  }

  &__step-heading {
    color: $primary-900;
  }

  &__step-text {
    color: $primary-900;
    @extend %fs-t2;
  }

  &__step-image {
    margin-top: 3rem;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;

    object-fit: contain;

    @include breakpoint(small-tablet) {
      margin-top: 1.5rem;
    }
  }

  .buttons {
    width: fit-content;
    margin-top: 5rem;
    margin-left: auto;
    margin-right: auto;

    @include breakpoint(small-tablet) {
      margin-top: 3rem;
    }

    @include breakpoint(mobile) {
      width: 100%;
    }
  }
}