.tabs {
  margin: var(--s-0) 0;

  &__title {
    max-width: 71rem;
    margin-bottom: 5rem;
    @extend %fs-h2;
    color: $primary-900;

    @include breakpoint(tablet) {
      margin-bottom: 3.8rem;
    }
  }

  &__inner {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 3rem;

    @include breakpoint(tablet) {
      grid-template-columns: 1fr;
      gap: 2.4rem;
    }
  }

  &__navigation-wrapper {
    grid-column: span 1;
    min-width: 0;

    .js-sticky {
      z-index: 5;
      width: 100% !important;

      @include breakpoint(tablet) {
        background-color: $grayscale-100;
      }

      &.active {
        width: calc(100% - 2 * var(--content-padding)) !important;
      }
    }
  }

  &__navigation {
    position: relative;

    display: flex;
    flex-direction: column;
    gap: 1rem;

    .active .tabs__navigation-item {
      color: $primary-300;
      border-color: $primary-300;
    }

    @include breakpoint(tablet) {
      flex-direction: row;
      gap: 0;

      padding: 1.2rem 0 0.6rem;

      .swiper-slide {
        justify-content: flex-end;
      }
    }
  }

  &__navigation-item {
    display: flex;
    padding: 1.3rem 0 1.3rem 2rem;
    border-left: 0.6rem solid #F0F5F7;
    transition: color 0.3s ease, border-color 0.3s ease;

    cursor: pointer;

    @extend %fs-h4;

    @include breakpoint(tablet) {
      border-left: 0;
      border-bottom: 0.4rem solid #F0F5F7;
      padding: 0.6rem 0;
      justify-content: center;
    }

    &:hover {
      border-color: $secondary-300;
    }
  }

  &__bodies {
    grid-column: span 5;

    position: relative;

    min-width: 0;

    @include breakpoint(tablet) {
      grid-column: span 1;
    }
  }

  &__body {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;

    opacity: 0;
    visibility: hidden;

    transition: opacity 0.3s ease, visibility 0.3s ease;

    &.active {
      opacity: 1;
      visibility: visible;
      position: static;
    }

    &.hidden .tabs__show-more {
      margin-top: -3rem;

      @include breakpoint(mobile) {
        margin-top: -2rem;
      }
    }
  }

  &__body-list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  &__body-item {
    position: relative;

    &.hidden {
      display: none;
    }

    &.last {
      &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        width: 100%;
        height: 100%;

        border-radius: 3.2rem;

        background: linear-gradient(to top, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);

        @include breakpoint(mobile) {
          background: linear-gradient(to top, rgba(255,255,255,1) 30%, rgba(255,255,255,0) 100%);
        }
      }

      .gallery__pagination {
        display: none;
      }
    }
  }

  .button.js-show-hide-button,
  &__show-more {
    position: relative;
    z-index: 3;

    display: block;
    margin: 3rem auto 0;
    min-height: 6.4rem;
    min-width: 22rem;

    @include breakpoint(mobile) {
      margin-top: 2rem;
      width: 100%;
      min-height: 5rem;
    }
  }
}