.simple-steps {
  margin-bottom: var(--s-0);

  &__title {
    display: flex;
    flex-direction: column;
    max-width: 71rem;
    margin-bottom: 8.5rem;

    @extend %fs-h2;
    color: $primary-900;

    @include breakpoint(tablet) {
      margin-bottom: 5.6rem;
    }

    @include breakpoint(small-tablet) {
      margin-bottom: 4.8rem;
    }

    @include breakpoint(mobile) {
      margin-bottom: 3.2rem;
    }

    &::after {
      content: '';

      width: 6.5rem;
      height: 0.5rem;
      margin-top: 2rem;

      background-color: $primary-300;

      @include breakpoint(mobile) {
        margin-top: 1rem;
      }
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1.6rem;

    counter-reset: order;

    @include breakpoint(tablet) {
      grid-template-columns: repeat(3, 1fr);
    }

    @include breakpoint(small-tablet) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include breakpoint(mobile) {
      grid-template-columns: 1fr;
    }
  }

  &__item {
    position: relative;

    padding: 4.8rem 2.4rem 2.4rem;

    border-radius: 2.4rem;
    background-color: $primary-100;

    @extend %fs-t1;
    font-weight: 500;
    color: $primary-900;
    text-align: center;

    @include breakpoint(tablet) {
      display: grid;
      grid-template-columns: auto 1fr;
      align-items: center;
      gap: 1.6rem;
      padding: 2.4rem;
    }

    @include breakpoint(small-tablet) {
      padding: 2rem;
    }

    @include breakpoint(mobile) {
      padding: 1.6rem;
      border-radius: 1.6rem;
    }

    &::before {
      counter-increment: order;
      content: counter(order, decimal-leading-zero);

      position: absolute;
      left: 50%;
      top: -3rem;
      transform: translateX(-50%);

      display: flex;
      justify-content: center;
      align-items: center;
      width: 5.6rem;
      height: 5.6rem;
      
      border-radius: 50%;
      background-color: $primary-900;

      font: 700 2rem/2.4rem "Geometria";
      color: #fff;

      @include breakpoint(tablet) {
        position: static;
        transform: none;

        width: 5rem;
        height: 5rem;
      }

      @include breakpoint(small-tablet) {
        width: 4.5rem;
        height: 4.5rem;

        font-size: 1.8rem;
      }

      @include breakpoint(mobile) {
        width: 4rem;
        height: 4rem;

        font-size: 1.6rem;
      }
    }
  }
}