$input-border-color: color(gray-border);
$input-hover-border-color: color(gray-main);
$input-placeholder-color: color(gray-dark);
$input-text-color: color(dark-main);
$input-focus-border-color: color(blue-dark);
$input-control-bg-color: color(white-main);
$input-label-error-color: color(red-main);
$input-border-error-color: $color-error;
$input-disabled-color: color(gray-dark);
$input-disabled-bg: color(gray-light);
$input-disabled-border-color: color(gray-light);
$input-font-size: 16px;
