<ul class="breadcrumbs">
    <li>
        <a class="breadcrumbs__link" href="#">Главная</a>
    </li>
    <li>
        <a class="breadcrumbs__link" href="#">Продукты</a>
    </li>
    <li>
        <a class="breadcrumbs__link" href="#">RDV Маркет</a>
    </li>
    <li>
        <a class="breadcrumbs__link" href="#">Wildberries</a>
    </li>
</ul>