<!--
<footer class="footer">
    <div class="container">
        <div class="footer__inner">
            <div class="footer__left">
                <a class="footer__email" href="mailto:info@rdv-it.ru">info@rdv-it.ru</a>
                <address class="footer__address">г. Москва, Красносельская нижн. ул., д. 35, стр. 64, офис 305, <br> Бизнес-центр «Виктория плаза»</address>
                <a class="footer__policy" href="#" target="_blank">Правовая информация</a>
                <div class="footer__copyright">
                    © 2022 Все права защищены
                </div>
            </div>
            <div class="footer__right">
                <a class="footer__phone" href="tel:84951270347">8 (495) 127-03-47</a>
                <button class="button button&#45;&#45;secondary" type="button" data-modal="#form1">Заказать звонок</button>
                <ul class="socials">
                    <li class="socials__item">
                        <a class="socials__link" href="#" target="_blank">
                            <img src="img/content/socials/youtube.svg" width="22" height="22" alt="Socials Link">
                        </a>
                    </li>
                    <li class="socials__item">
                        <a class="socials__link" href="#" target="_blank">
                            <img src="img/content/socials/tg.svg" width="22" height="22" alt="Socials Link">
                        </a>
                    </li>
                    <li class="socials__item">
                        <a class="socials__link" href="#" target="_blank">
                            <img src="img/content/socials/vk.svg" width="22" height="22" alt="Socials Link">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
-->

<footer class="footer footer--new">
  <div class="narrow-container">
    <nav class="footer__top">
      <div class="footer__phone-block">
        <a class="footer__phone link" href="tel:84951270347">8(495) 127-03-47</a>
        <button class="footer__phone-button button button--big button--white" data-path="phone">Заказать звонок</button>
      </div>
      <div class="footer__middle">
        <a class="footer__email link" href="mailto:info@rdv-it.ru">info@rdv-it.ru</a>
        <address class="footer__address">Москва, Красносельская нижн. 35, стр. 64, офис 305, Бизнес-центр «Виктория плаза»</address>
        <ul class="socials">
          <li class="socials__item">
            <a class="socials__link link" href="#">
              <img class="lazyload" data-src="assets/images/socials-footer-1.svg" alt="Иконка социальной сети">
            </a>
          </li>
          <li class="socials__item">
            <a class="socials__link link" href="#">
              <img class="lazyload" data-src="assets/images/socials-footer-2.svg" alt="Иконка социальной сети">
            </a>
          </li>
          <li class="socials__item">
            <a class="socials__link link" href="#">
              <img class="lazyload" data-src="assets/images/socials-footer-3.svg" alt="Иконка социальной сети">
            </a>
          </li>
          <li class="socials__item">
            <a class="socials__link link" href="#">
              <img class="lazyload" data-src="assets/images/socials-footer-4.svg" alt="Иконка социальной сети">
            </a>
          </li>
          <li class="socials__item">
            <a class="socials__link link" href="#">
              <img class="lazyload" data-src="assets/images/socials-footer-5.svg" alt="Иконка социальной сети">
            </a>
          </li>
        </ul>
      </div>
      <ul class="footer__menu">
        <li class="footer__menu-item">
          <button class="footer__menu-link link" href="#" data-path="burger-0"><span>Услуги</span>
            <svg class="icon icon-button-arrow">
              <use xlink:href="#button-arrow"></use>
            </svg>
          </button>
        </li>
        <li class="footer__menu-item">
          <a class="footer__menu-link link" href="#"><span>О компании</span>
            <svg class="icon icon-button-arrow">
              <use xlink:href="#button-arrow"></use>
            </svg>
          </a>
        </li>
        <li class="footer__menu-item">
          <button class="footer__menu-link link" href="#" data-path="burger-1"><span>Продукты</span>
            <svg class="icon icon-button-arrow">
              <use xlink:href="#button-arrow"></use>
            </svg>
          </button>
        </li>
        <li class="footer__menu-item">
          <a class="footer__menu-link link" href="#"><span>Мероприятия</span>
            <svg class="icon icon-button-arrow">
              <use xlink:href="#button-arrow"></use>
            </svg>
          </a>
        </li>
        <li class="footer__menu-item">
          <a class="footer__menu-link link" href="#"><span>Проекты</span>
            <svg class="icon icon-button-arrow">
              <use xlink:href="#button-arrow"></use>
            </svg>
          </a>
        </li>
        <li class="footer__menu-item">
          <a class="footer__menu-link link" href="#"><span>ПРЕСС-центр</span>
            <svg class="icon icon-button-arrow">
              <use xlink:href="#button-arrow"></use>
            </svg>
          </a>
        </li>
        <li class="footer__menu-item">
          <a class="footer__menu-link link" href="#"><span>RDV Маркет</span>
            <svg class="icon icon-button-arrow">
              <use xlink:href="#button-arrow"></use>
            </svg>
          </a>
        </li>
        <li class="footer__menu-item">
          <a class="footer__menu-link link" href="#"><span>Контакты</span>
            <svg class="icon icon-button-arrow">
              <use xlink:href="#button-arrow"></use>
            </svg>
          </a>
        </li>
      </ul>
    </nav>
    <div class="footer__bottom"><span class="footer__copyright">© 2021 Все права защищены</span>
      <a class="footer__copyright-link" href="#">Правовая информация</a>
      <div class="footer__developer"><span>Разработка сайта</span>
        <a href="https://markweber.agency/">
          <svg class="icon icon-mark-weber">
            <use xlink:href="#mark-weber"></use>
          </svg>
        </a>
      </div>
    </div>
  </div>
</footer>
