<footer class="footer">
    <div class="container">
        <div class="footer__inner">
            <div class="footer__left">
                <a class="footer__email" href="mailto:info@rdv-it.ru">info@rdv-it.ru</a>
                <address class="footer__address">г. Москва, Красносельская нижн. ул., д. 35, стр. 64, офис 305, <br> Бизнес-центр «Виктория плаза»</address>
                <a class="footer__policy" href="#" target="_blank">Правовая информация</a>
                <div class="footer__copyright">
                    © 2022 Все права защищены
                </div>
            </div>
            <div class="footer__right">
                <a class="footer__phone" href="tel:84951270347">8 (495) 127-03-47</a>
                <button class="button button--secondary" type="button" data-modal="#form1">Заказать звонок</button>
                <ul class="socials">
                    <li class="socials__item">
                        <a class="socials__link" href="#" target="_blank">
                            <img src="img/content/socials/youtube.svg" width="22" height="22" alt="Socials Link">
                        </a>
                    </li>
                    <li class="socials__item">
                        <a class="socials__link" href="#" target="_blank">
                            <img src="img/content/socials/tg.svg" width="22" height="22" alt="Socials Link">
                        </a>
                    </li>
                    <li class="socials__item">
                        <a class="socials__link" href="#" target="_blank">
                            <img src="img/content/socials/vk.svg" width="22" height="22" alt="Socials Link">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>