<header class="header">
    <div class="container">
        <div class="header__top">
            <a class="header__logo" href="#">
                <img src="img/logo.svg" width="146" height="43" alt="">
            </a>
            <button class="button" type="button" data-modal="#form1">Оставить заявку</button>
        </div>
        <div class="header__navigation">
            <button class="header__burger" type="button" data-modal="#menu">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </button>
            {{>menu}}
        </div>
    </div>
</header>