<nav class="menu">
    <ul class="menu__links">
        <li class="menu__item menu__item--has-submenu">
            <a class="menu__head" href="#">
                <span>Услуги</span>
            </a>
            <ul class="menu__submenu">
                <li>
                    <ul>
                        <li>
                            <span class="accent">Просто текст</span>
                        </li>
                        <li>
                            <a class="accent" href="#">Ссылка 1</a>
                        </li>
                        <li>
                            <a href="#">Ссылка 2</a>
                        </li>
                        <li>
                            <a href="#">Ссылка 3</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <ul>
                        <li>
                            <a class="accent" href="#">Ссылка 4</a>
                        </li>
                        <li>
                            <a href="#">Ссылка 5</a>
                        </li>
                        <li>
                            <a href="#">Ссылка 6</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <ul>
                        <li>
                            <a class="accent" href="#">Ссылка 7</a>
                        </li>
                        <li>
                            <a href="#">Ссылка 8</a>
                        </li>
                        <li>
                            <a href="#">Ссылка 9</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li class="menu__item menu__item--has-submenu">
            <a class="menu__head" href="#">
                <span>Проекты</span>
            </a>
            <ul class="menu__submenu">
                <li>
                    <ul>
                        <li>
                            <a class="accent" href="#">Ссылка 10</a>
                        </li>
                        <li>
                            <a class="accent" href="#">Ссылка 11</a>
                        </li>
                        <li>
                            <a class="accent" href="#">Ссылка 12</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <ul>
                        <li>
                            <a class="accent" href="#">Ссылка 13</a>
                        </li>
                        <li>
                            <a class="accent" href="#">Ссылка 14</a>
                        </li>
                        <li>
                            <a class="accent" href="#">Ссылка 15</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <ul>
                        <li>
                            <a class="accent" href="#">Ссылка 16</a>
                        </li>
                        <li>
                            <a class="accent" href="#">Ссылка 17</a>
                        </li>
                        <li>
                            <a class="accent" href="#">Ссылка 18</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li class="menu__item menu__item--has-submenu">
          <a class="menu__head" href="#">
            <span>Продукты</span>
          </a>
          <ul class="menu__submenu">
            <li>
              <ul>
                <li>
                  <span class="accent">Просто текст</span>
                </li>
                <li>
                  <a class="accent" href="#">Ссылка 1</a>
                </li>
                <li>
                  <a href="#">Ссылка 2</a>
                </li>
                <li>
                  <a href="#">Ссылка 3</a>
                </li>
              </ul>
            </li>
            <li>
              <ul>
                <li>
                  <a class="accent" href="#">Ссылка 4</a>
                </li>
                <li>
                  <a href="#">Ссылка 5</a>
                </li>
                <li>
                  <a href="#">Ссылка 6</a>
                </li>
              </ul>
            </li>
            <li>
              <ul>
                <li>
                  <a class="accent" href="#">Ссылка 7</a>
                </li>
                <li>
                  <a href="#">Ссылка 8</a>
                </li>
                <li>
                  <a href="#">Ссылка 9</a>
                </li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="menu__item menu__item--has-submenu">
          <a class="menu__head" href="#">
            <span>RDV Маркет</span>
          </a>
          <ul class="menu__submenu">
            <li>
              <ul>
                <li>
                  <a class="accent" href="#">Ссылка 10</a>
                </li>
                <li>
                  <a class="accent" href="#">Ссылка 11</a>
                </li>
                <li>
                  <a class="accent" href="#">Ссылка 12</a>
                </li>
              </ul>
            </li>
            <li>
              <ul>
                <li>
                  <a class="accent" href="#">Ссылка 13</a>
                </li>
                <li>
                  <a class="accent" href="#">Ссылка 14</a>
                </li>
                <li>
                  <a class="accent" href="#">Ссылка 15</a>
                </li>
              </ul>
            </li>
            <li>
              <ul>
                <li>
                  <a class="accent" href="#">Ссылка 16</a>
                </li>
                <li>
                  <a class="accent" href="#">Ссылка 17</a>
                </li>
                <li>
                  <a class="accent" href="#">Ссылка 18</a>
                </li>
              </ul>
            </li>
          </ul>
        </li>
      <li class="menu__item">
        <a class="menu__head" href="#">
          <span>Мероприятия</span>
        </a>
      </li>
        <li class="menu__item">
          <a class="menu__head" href="#">
            <span>Блог</span>
          </a>
        </li>
        <li class="menu__item menu__item--has-submenu">
          <a class="menu__head" href="#">
            <span>О компании</span>
          </a>
          <ul class="menu__submenu">
            <li>
              <ul>
                <li>
                  <a class="accent" href="#">Ссылка 10</a>
                </li>
                <li>
                  <a class="accent" href="#">Ссылка 11</a>
                </li>
                <li>
                  <a class="accent" href="#">Ссылка 12</a>
                </li>
              </ul>
            </li>
            <li>
              <ul>
                <li>
                  <a class="accent" href="#">Ссылка 13</a>
                </li>
                <li>
                  <a class="accent" href="#">Ссылка 14</a>
                </li>
                <li>
                  <a class="accent" href="#">Ссылка 15</a>
                </li>
              </ul>
            </li>
            <li>
              <ul>
                <li>
                  <a class="accent" href="#">Ссылка 16</a>
                </li>
                <li>
                  <a class="accent" href="#">Ссылка 17</a>
                </li>
                <li>
                  <a class="accent" href="#">Ссылка 18</a>
                </li>
              </ul>
            </li>
          </ul>
        </li>
    </ul>
</nav>