<div class="hystmodal modal" id="{{id}}" aria-hidden="true">
  <div class="hystmodal__wrap modal__wrapper">
    <div class="hystmodal__window modal__window" role="dialog" aria-modal="true">
      <button data-hystclose class="modal__close" title="Закрыть">
        <svg>
          <use xlink:href="#close" />
        </svg>
      </button>
      {{#if title}}
      <h2 class="modal__title">{{title}}</h2>
      {{/if}}
      {{#block "content"}}

      {{/block}}
    </div>
  </div>
</div>