<div class="hystmodal modal modal-expansion-error" id="{{id}}" aria-hidden="true">
  <div class="hystmodal__wrap modal__wrapper">
    <div class="hystmodal__window modal__window" role="dialog" aria-modal="true">
      <button data-hystclose class="modal__close" title="Закрыть">
        <svg>
          <use xlink:href="#close-2"/>
        </svg>
      </button>
      <div class="modal-expansion-error__content">
        <p class="modal-expansion-error__big-text">
          На указанный вами email [почта] уже зарегистрирована активная пробная подписка
        </p>
        <div class="modal-expansion-error__img">
          <img width="174" height="186" src="img/expansion-error.png" alt="Фото">
        </div>
        <p class="modal-expansion-error__big-text">
          Мы повторно отправили доступы на вашу почту
        </p>
        <p class="modal-expansion-error__bottom-text">
          Если вы не получили письмо, пожалуйста, проверьте, папку «Спам». Если письма нет, напишите нам на почту
          <a href="#">support@rdv-it.ru</a>
        </p>
      </div>
    </div>
  </div>
</div>