<div class="hystmodal modal modal-expansion-loader" id="{{id}}" aria-hidden="true">
  <div class="hystmodal__wrap modal__wrapper">
    <div class="hystmodal__window modal__window" role="dialog" aria-modal="true">
      <button data-hystclose class="modal__close" title="Закрыть">
        <svg>
          <use xlink:href="#close-2"/>
        </svg>
      </button>
      <div class="modal-expansion-loader__content">
        <h2 class="modal-expansion-loader__title">
          Подождите, настраиваем
          ваш доступ...
        </h2>
        <p class="modal-expansion-loader__text">
          Еще чуть-чуть и вы будете перенаправлены на страницу с инструкциями
        </p>
        <div class="modal-expansion-loader__img modal-expansion-loader__img--loader">
          <img width="174" height="186" src="img/expansion-loader.png" alt="Фото">
        </div>
        <div class="modal-expansion-loader__progressbar">
          <div class="modal-expansion-loader__progressbar-line" style="width: 70%"></div>
        </div>
        <div class="modal-expansion-loader__progressbar-desc">
          Осталось 2 секунды..
        </div>
        <p class="modal-expansion-loader__big-text">
          Чтобы данные для входа всегда были под рукой,
          мы отправим их на указанную вами почту.
        </p>
        <p class="modal-expansion-loader__bottom-text">
          Если вы не получили письмо, пожалуйста, проверьте, папку «Спам». Если письма нет, напишите нам на почту
          <a href="#">support@rdv-it.ru</a>
        </p>
      </div>
    </div>
  </div>
</div>