<div class="hystmodal modal modal-expansion hystmodal--active" id="{{id}}" aria-hidden="true">
  <div class="hystmodal__wrap modal__wrapper">
    <div class="hystmodal__window modal__window" role="dialog" aria-modal="true">
      <button data-hystclose class="modal__close" title="Закрыть">
        <svg>
          <use xlink:href="#close" />
        </svg>
      </button>
      <h2 class="modal-expansion__title">
        Запрос на расширение
      </h2>
      <form class="modal-expansion__form" action="#">

      </form>
    </div>
  </div>
</div>