<div class="hystmodal modal modal--full-screen" id="menu" aria-hidden="true">
    <div class="hystmodal__wrap modal__wrapper">
        <div class="hystmodal__window modal__window" role="dialog" aria-modal="true">
            <div class="container">
                <button data-hystclose class="modal__close" title="Закрыть">
                    <svg>
                        <use xlink:href="#close" />
                    </svg>
                </button>
                {{>menu}}
            </div>
        </div>
    </div>
</div>