<div class="navigation">
    <button class="navigation__button prev" type="button" title="Prev">
        <svg width="13" height="8">
            <use xlink:href="#chevron" />
        </svg>
    </button>
    <button class="navigation__button next" type="button" title="Next">
        <svg width="13" height="8">
            <use xlink:href="#chevron" />
        </svg>
    </button>
</div>