<section class="call">
    <div class="container">
        <div class="call__inner">
            <h2 class="call__title">Нужна помощь?</h2>
            <div class="call__text">
                <p>Выберите опции выше или оставьте заявку — наш менеджер поможет с расчетом и&nbsp;расскажет про нужные для вас модули.</p>
            </div>
            <button class="button" type="button" data-modal="#form1">Заказать звонок</button>
        </div>
    </div>
</section>