<section class="section section--narrow-image section--hide-image-on-mobile ">
    <div class="container">
        <div class="section__inner">
            <div class="section__grid">
                <div class="section__image">
                    <div class="section__heading-block">
                        <h2 class="section__heading">Часто задаваемые
                            вопросы</h2>
                    </div>
                    <div class="section__image">
                        <img src="img/content/illustrations/5.png" alt="Section Image">
                    </div>
                </div>
                <div class="section__gap"></div>
                <div class="section__content">
                    <div class="section__inner-content">
                        <ul class="faq">
                            {{#each faq}}
                                <li class="faq__item js-accordion">
                                    <div class="faq__question js-accordion-btn">
                                        <h3 class="faq__title">{{this.title}}</h3>
                                        <div class="faq__button"></div>
                                    </div>
                                    <div class="faq__answer js-accordion-content">
                                        <div class="faq__answer-inner">
                                            <div class="faq__answer-text">
                                                {{{this.text}}}
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            {{/each}}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>