<section class="integration integration--ozon integration--yandex integration--wb">
    <div class="container">
        <div class="integration__inner">
            <div class="integration__content">
                {{> breadcrumbs }}
                <div class="integration__heading integration__heading--modf">
                    <span class="integration__tag">готовое решение</span>
                    <h1 class="integration__title">Интеграция 1С с&nbsp;Wildberries</h1>
                    <div class="integration__description">
                        <p>Автоматизируйте торговлю на маркетплейсе для массовой обработки заказов!</p>
                    </div>
                    <div class="integration__heading-picture">
                        <img class="integration__picture integration__picture--mobile" src="img/content/integrations/wb-mobile.png" alt="Integration Picture">
                    </div>
                </div>
                <div class="integration__footer">
                    <ul class="buttons">
                        <li>
                            <a class="button" href="#">Заказать демо</a>
                        </li>
                        <li>
                            <a class="button button--secondary" href="#">Тест-драйв</a>
                        </li>
                    </ul>
                    <span class="integration__label">Тестовый период 14&nbsp;дней бесплатно!</span>
                </div>
            </div>
            <div class="integration__picture-block">
                <img class="integration__picture" src="img/content/integrations/wb.png" alt="Integration Picture">
            </div>
        </div>
    </div>
</section>