<section class="intro-video">
  <div class="container">
    <div class="intro-video__inner">
      <div class="intro-video__content">
        {{>breadcrumbs}}
        <span class="intro-video__tag">готовое решение</span>
        <h1 class="intro-video__title">RDV Маркет
          готовое решение для интеграции 1С с маркетплейсами</h1>
        <div class="intro-video__text">
          <p>Протестируйте готовую систему 1С, интегрированную с Wildberries, Ozon, Яндекс.Маркет, СберМегаМаркет и AliExpress, для автоматизации всех процессов по работе с маркетплейсами</p>
        </div>
        <div class="intro-video__footer">
          <ul class="buttons">
            <li>
              <a class="button button--bold" href="#">Оставить заявку</a>
            </li>
            <li>
              <a class="button button--bold button--secondary" href="#">Подробнее</a>
            </li>
          </ul>
          <span class="intro-video__label">Тестовый период 14 дней бесплатно!</span>
        </div>
      </div>
      <div class="intro-video__video">
        <iframe width="600" height="340" src="" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
      </div>
    </div>
  </div>
</section>