{{#extend "section"}}
    {{#content "content"}}
        <div class="text-content-wrapper">
            <div class="text-container">
                <p>У вас старая или сильно доработанная версия 1С*? Вы не хотите менять текущие бизнес-процессы? Вам подойдет наш готовый модуль, который позволит сохранить вашу учетную систему и автоматизировать торговлю на маркетплейсах.</p>
            </div>
            {{>remarks}}
            <ul class="buttons">
                <li>
                    <a class="button" href="#">Оставить заявку</a>
                </li>
                <li>
                    <a class="button button--secondary" href="#">Узнать больше</a>
                </li>
            </ul>
        </div>
    {{/content}}
{{/extend}}