<section class="simple-intro">
    <div class="container">
        <div class="simple-intro__inner">
            <div class="simple-intro__content">
                <h2 class="simple-intro__title">Как подключиться самостоятельно</h2>
                <div class="simple-intro__description">
                    <p>Вы можете подключиться к RDV Маркет самостоятельно. Как это сделать — подробно описано в нашей Академии!</p>
                </div>
                <ul class="buttons">
                    <li>
                        <a class="button button--secondary" href="#">Подробнее</a>
                    </li>
                </ul>
            </div>
            <div class="simple-intro__picture-block">
                <img src="img/content/simple-intro/academy.png" alt="Simple Intro Picture">
            </div>
        </div>
    </div>
</section>