<section class="simple-steps">
  <div class="container">
    <h2 class="simple-steps__title">
      Автоматизируйте вашу торговлю с маркетплейсами за 30 мин
    </h2>
    <ul class="simple-steps__list">
    {{#each simpleSteps}}
      <li class="simple-steps__item">
        {{this}}
      </li>
    {{/each}}
    </ul>
  </div>
</section>