<section class="text-image" id="02">
  <span class="section-number">02</span>
  <div class="container">
    <div class="text-image__inner">
      <div class="text-image__left">
        <span class="section-label">/ Интеграция и автоматизация</span>
        <h2 class="text-image__heading">Консалтинг по автоматизации бизнес-процессов</h2>
        <div class="text-image__text">
          Мы понимаем специфику работы маркетплейсов, имеем большой опыт автоматизации бизнес-процессов и готовы
          оказать консалтинговые услуги и выстроить оптимальные процессы ваших отделов для повышения эффективности
          торговли.
        </div>
        <div class="text-image__link-wrapper">
          <a class="button button--stroke-bold button--min text-image__link" href="#" data-modal="#form1">Подробнее</a>
        </div>
      </div>
      <div class="text-image__right">
        <div class="text-image__image-wrapper">
          <img src="img/content/illustrations/6.png" alt="Illustration">
        </div>
      </div>
    </div>
  </div>
</section>