<section class="two-columns">
    <div class="container">
        <div class="two-columns__inner">
            <div class="two-columns__text-block">
                <h2 class="two-columns__title">Оставьте, пожалуйста, ваши контакты и опишите текущие сложности по работе со складом</h2>
                <div class="two-columns__text">
                    <p>Мы с вами свяжемся и обсудим все детали</p>
                </div>
                <div class="two-columns__image-wrapper">
                    <img class="two-columns__image" src="img/content/forms/form-picture.png" alt="Form Picture">
                </div>
            </div>
            <div class="two-columns__content-block">
                {{> old-form}}
            </div>
        </div>
    </div>
</section>