<section class="video">
    <div class="container">
        <div class="video__inner">
            <h2 class="video__title">Посмотрите видеообзоры по&nbsp;интеграции 1С с&nbsp;Wildberries</h2>
            <div class="video__slider swiper js-video-slider loading">
                <ul class="swiper-wrapper">
                    {{#each video}}
                        <li class="swiper-slide">
                            <div class="video__slide">
<!--                                <div class="video__slide-iframe-wrapper">-->
<!--                                    <iframe width="560" height="315" src="" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>-->
<!--                                </div>-->
                                <div class="video__slide-iframe-wrapper">
                                  <img src="img/content/gallery/1.jpg" alt="Video" data-src="https://youtu.be/jNQXAC9IVRw" data-fancybox>
                                </div>
                                <h3 class="video__slide-title">
                                    <a href="#">{{this.title}}</a>
                                </h3>
                            </div>
                        </li>
                    {{/each}}
                </ul>
                <div class="swiper-scrollbar"></div>
            </div>
        </div>
    </div>
</section>