{{#extend "layout"}}
  {{#content "main"}}

    <section class="catalog news-catalog page-section--large-margin">
      <div class="narrow-container">
        <div class="breadcrumbs__container site-content-container">
          <div class="breadcrumbs">
            <div class="breadcrumbs__item">
              <a class="breadcrumbs__item-link page-hover-effect" href="./index.html">Главная</a>
            </div><span class="breadcrumbs__arrow"></span>
            <div class="breadcrumbs__item"><span>Пресс-центр</span>
            </div>
          </div>
        </div>
        <h1 class="catalog__title">Пресс-центр</h1>
        <div class="catalog__desc">
          <p>Актульная информация о нашей деятельности и полезные статьи</p>
        </div>
        <form class="catalog__category-filter js-tabs-container js-tabs-scroll">
          <div class="catalog__category-filter-item">
            <input class="catalog__category-filter-input visually-hidden" type="radio" name="categoryFilter" id="categoryFilter1" checked="checked">
            <label class="catalog__category-filter-label js-tab" for="categoryFilter1">Все</label>
          </div>
          <div class="catalog__category-filter-item">
            <input class="catalog__category-filter-input visually-hidden" type="radio" name="categoryFilter" id="categoryFilter2">
            <label class="catalog__category-filter-label js-tab" for="categoryFilter2">Блог</label>
          </div>
          <div class="catalog__category-filter-item">
            <input class="catalog__category-filter-input visually-hidden" type="radio" name="categoryFilter" id="categoryFilter3">
            <label class="catalog__category-filter-label js-tab" for="categoryFilter3">Кейсы</label>
          </div>
          <div class="catalog__category-filter-item">
            <input class="catalog__category-filter-input visually-hidden" type="radio" name="categoryFilter" id="categoryFilter4">
            <label class="catalog__category-filter-label js-tab" for="categoryFilter4">Новости</label>
          </div>
          <div class="catalog__category-filter-item">
            <input class="catalog__category-filter-input visually-hidden" type="radio" name="categoryFilter" id="categoryFilter5">
            <label class="catalog__category-filter-label js-tab" for="categoryFilter5">СМИ</label>
          </div>
        </form>
      </div>
      <div class="container-block">
        <div class="catalog__inner js-more-button-container">
          <form class="catalog__filter js-tabs-container" action="#" data-no-tablet="data-no-tablet">
            <div class="catalog__filter-top">
              <div class="catalog__tags-block">
                <div class="catalog__tags js-more-button-container js-more-button-row-container" data-tablet="data-tablet">
                  <div class="catalog__tag js-more-button-item js-more-button-row-item">
                    <input class="catalog__tag-radio visually-hidden" type="radio" name="catalogTags" id="catalogTag0">
                    <label class="catalog__tag-label button button--medium button--bordered js-tab" for="catalogTag0" data-href="catalogTab0" data-count="0">1C</label>
                  </div>
                  <div class="catalog__tag js-more-button-item js-more-button-row-item">
                    <input class="catalog__tag-radio visually-hidden" type="radio" name="catalogTags" id="catalogTag1">
                    <label class="catalog__tag-label button button--medium button--bordered js-tab" for="catalogTag1" data-href="catalogTab1" data-count="0">Digital</label>
                  </div>
                  <div class="catalog__tag js-more-button-item js-more-button-row-item">
                    <input class="catalog__tag-radio visually-hidden" type="radio" name="catalogTags" id="catalogTag2">
                    <label class="catalog__tag-label button button--medium button--bordered js-tab" for="catalogTag2" data-href="catalogTab2" data-count="0">ERP</label>
                  </div>
                  <div class="catalog__tag js-more-button-item js-more-button-row-item">
                    <input class="catalog__tag-radio visually-hidden" type="radio" name="catalogTags" id="catalogTag3">
                    <label class="catalog__tag-label button button--medium button--bordered js-tab" for="catalogTag3" data-href="catalogTab3" data-count="0">E-commerce</label>
                  </div>
                  <div class="catalog__tag js-more-button-item js-more-button-row-item">
                    <input class="catalog__tag-radio visually-hidden" type="radio" name="catalogTags" id="catalogTag4">
                    <label class="catalog__tag-label button button--medium button--bordered js-tab" for="catalogTag4" data-href="catalogTab4" data-count="0">RDV Маркет</label>
                  </div>
                  <div class="catalog__tag js-more-button-item js-more-button-row-item">
                    <input class="catalog__tag-radio visually-hidden" type="radio" name="catalogTags" id="catalogTag5">
                    <label class="catalog__tag-label button button--medium button--bordered js-tab" for="catalogTag5" data-href="catalogTab5" data-count="0">Digital</label>
                  </div>
                  <button class="catalog__tag-more-button button button--medium button--bordered js-more-button js-more-button-not-toggle js-more-button-row" data-count="5" type="button">
                    <span>Ещё</span>
                    <svg class="icon icon-arrow-down">
                      <use xlink:href="#arrow-down"></use>
                    </svg>
                  </button>
                </div>
                <button class="catalog__tags-more button button--icon button--bordered" type="button">
                  <svg class="icon icon-elipsis-icon">
                    <use xlink:href="#elipsis-icon"></use>
                  </svg>
                </button>
              </div>
              <div class="catalog__buttons">
                <button class="catalog__reset-button button" type="reset"><span>Очистить все</span>
                  <svg class="icon icon-reset-icon">
                    <use xlink:href="#reset-icon"></use>
                  </svg>
                </button>
                <div class="catalog__search">
                  <button class="catalog__search-button button button--icon button--bordered" type="button">
                    <svg class="icon icon-search-icon">
                      <use xlink:href="#search-icon"></use>
                    </svg>
                  </button>
                  <div class="catalog__search-input-block">
                    <svg class="icon icon-search-icon">
                      <use xlink:href="#search-icon"></use>
                    </svg>
                    <input class="catalog__search-input input input--white input--small js-reset-input" type="text" name="catalogSearch" id="catalogSearch" placeholder="Поиск мероприятия" aria-label="Поиск мероприятия">
                    <button class="catalog__search-reset js-reset-button" type="button">
                      <svg class="icon icon-cross-icon">
                        <use xlink:href="#cross-icon"></use>
                      </svg>
                    </button>
                  </div>
                </div>
                <button class="catalog__date-button button button--icon button--bordered js-tab" type="button" data-href="catalogDate">
                  <svg class="icon icon-date-icon">
                    <use xlink:href="#date-icon"></use>
                  </svg>
                  <svg class="icon icon-cross-icon">
                    <use xlink:href="#cross-icon"></use>
                  </svg>
                </button>
                <div class="catalog__grid-buttons">
                  <button class="catalog__grid-button button button--icon button--white active" type="button" data-modification="" data-modification-cards="">
                    <svg class="icon icon-grid-tile-icon">
                      <use xlink:href="#grid-tile-icon"></use>
                    </svg>
                  </button>
                  <button class="catalog__grid-button button button--icon button--white" type="button" data-modification="catalog__list--list" data-modification-cards="catalog-card--row">
                    <svg class="icon icon-grid-list-icon">
                      <use xlink:href="#grid-list-icon"></use>
                    </svg>
                  </button>
                </div>
              </div>
            </div>
            <div class="catalog__filter-bottom">
              <div class="catalog__filter-bottom-content js-tab-content" data-id="catalogTab0" data-reset-id="catalogTab0">
                <div class="catalog__subtags js-more-button-container">
                  <div class="catalog__subtag js-more-button-item">
                    <input class="catalog__subtag-radio visually-hidden" type="checkbox" name="catalogSubtag0-0" id="catalogSubtag0-0">
                    <label class="catalog__subtag-label" for="catalogSubtag0-0"><span>Управление холдингом</span>
                      <svg class="icon icon-cross-icon">
                        <use xlink:href="#cross-icon"></use>
                      </svg>
                    </label>
                  </div>
                  <div class="catalog__subtag js-more-button-item">
                    <input class="catalog__subtag-radio visually-hidden" type="checkbox" name="catalogSubtag0-1" id="catalogSubtag0-1">
                    <label class="catalog__subtag-label" for="catalogSubtag0-1"><span>Управленческий учет</span>
                      <svg class="icon icon-cross-icon">
                        <use xlink:href="#cross-icon"></use>
                      </svg>
                    </label>
                  </div>
                  <div class="catalog__subtag js-more-button-item">
                    <input class="catalog__subtag-radio visually-hidden" type="checkbox" name="catalogSubtag0-2" id="catalogSubtag0-2">
                    <label class="catalog__subtag-label" for="catalogSubtag0-2"><span>Бюджетирование</span>
                      <svg class="icon icon-cross-icon">
                        <use xlink:href="#cross-icon"></use>
                      </svg>
                    </label>
                  </div>
                  <div class="catalog__subtag js-more-button-item">
                    <input class="catalog__subtag-radio visually-hidden" type="checkbox" name="catalogSubtag0-3" id="catalogSubtag0-3">
                    <label class="catalog__subtag-label" for="catalogSubtag0-3"><span>Внедрение</span>
                      <svg class="icon icon-cross-icon">
                        <use xlink:href="#cross-icon"></use>
                      </svg>
                    </label>
                  </div>
                  <div class="catalog__subtag js-more-button-item">
                    <input class="catalog__subtag-radio visually-hidden" type="checkbox" name="catalogSubtag0-4" id="catalogSubtag0-4">
                    <label class="catalog__subtag-label" for="catalogSubtag0-4"><span>Интеграция</span>
                      <svg class="icon icon-cross-icon">
                        <use xlink:href="#cross-icon"></use>
                      </svg>
                    </label>
                  </div>
                  <div class="catalog__subtag js-more-button-item">
                    <input class="catalog__subtag-radio visually-hidden" type="checkbox" name="catalogSubtag0-5" id="catalogSubtag0-5">
                    <label class="catalog__subtag-label" for="catalogSubtag0-5"><span>Бухгалтерия</span>
                      <svg class="icon icon-cross-icon">
                        <use xlink:href="#cross-icon"></use>
                      </svg>
                    </label>
                  </div>
                  <div class="catalog__subtag js-more-button-item">
                    <input class="catalog__subtag-radio visually-hidden" type="checkbox" name="catalogSubtag0-6" id="catalogSubtag0-6">
                    <label class="catalog__subtag-label" for="catalogSubtag0-6"><span>Коммерция</span>
                      <svg class="icon icon-cross-icon">
                        <use xlink:href="#cross-icon"></use>
                      </svg>
                    </label>
                  </div>
                  <div class="catalog__subtag-more-button js-more-button js-more-button-not-toggle" data-count="6">+<span class="js-more-button-surplus">0</span>
                  </div>
                </div>
              </div>
              <div class="catalog__filter-bottom-content js-tab-content" data-id="catalogTab1" data-reset-id="catalogTab1">
                <div class="catalog__subtags js-more-button-container">
                  <div class="catalog__subtag js-more-button-item">
                    <input class="catalog__subtag-radio visually-hidden" type="checkbox" name="catalogSubtag1-0" id="catalogSubtag1-0">
                    <label class="catalog__subtag-label" for="catalogSubtag1-0"><span>Управление холдингом</span>
                      <svg class="icon icon-cross-icon">
                        <use xlink:href="#cross-icon"></use>
                      </svg>
                    </label>
                  </div>
                  <div class="catalog__subtag js-more-button-item">
                    <input class="catalog__subtag-radio visually-hidden" type="checkbox" name="catalogSubtag1-1" id="catalogSubtag1-1">
                    <label class="catalog__subtag-label" for="catalogSubtag1-1"><span>Управленческий учет</span>
                      <svg class="icon icon-cross-icon">
                        <use xlink:href="#cross-icon"></use>
                      </svg>
                    </label>
                  </div>
                  <div class="catalog__subtag js-more-button-item">
                    <input class="catalog__subtag-radio visually-hidden" type="checkbox" name="catalogSubtag1-2" id="catalogSubtag1-2">
                    <label class="catalog__subtag-label" for="catalogSubtag1-2"><span>Бюджетирование</span>
                      <svg class="icon icon-cross-icon">
                        <use xlink:href="#cross-icon"></use>
                      </svg>
                    </label>
                  </div>
                  <div class="catalog__subtag js-more-button-item">
                    <input class="catalog__subtag-radio visually-hidden" type="checkbox" name="catalogSubtag1-3" id="catalogSubtag1-3">
                    <label class="catalog__subtag-label" for="catalogSubtag1-3"><span>Внедрение</span>
                      <svg class="icon icon-cross-icon">
                        <use xlink:href="#cross-icon"></use>
                      </svg>
                    </label>
                  </div>
                  <div class="catalog__subtag js-more-button-item">
                    <input class="catalog__subtag-radio visually-hidden" type="checkbox" name="catalogSubtag1-4" id="catalogSubtag1-4">
                    <label class="catalog__subtag-label" for="catalogSubtag1-4"><span>Интеграция</span>
                      <svg class="icon icon-cross-icon">
                        <use xlink:href="#cross-icon"></use>
                      </svg>
                    </label>
                  </div>
                  <div class="catalog__subtag js-more-button-item">
                    <input class="catalog__subtag-radio visually-hidden" type="checkbox" name="catalogSubtag1-5" id="catalogSubtag1-5">
                    <label class="catalog__subtag-label" for="catalogSubtag1-5"><span>Бухгалтерия</span>
                      <svg class="icon icon-cross-icon">
                        <use xlink:href="#cross-icon"></use>
                      </svg>
                    </label>
                  </div>
                  <div class="catalog__subtag js-more-button-item">
                    <input class="catalog__subtag-radio visually-hidden" type="checkbox" name="catalogSubtag1-6" id="catalogSubtag1-6">
                    <label class="catalog__subtag-label" for="catalogSubtag1-6"><span>Коммерция</span>
                      <svg class="icon icon-cross-icon">
                        <use xlink:href="#cross-icon"></use>
                      </svg>
                    </label>
                  </div>
                  <div class="catalog__subtag-more-button js-more-button js-more-button-not-toggle" data-count="6">+<span class="js-more-button-surplus">0</span>
                  </div>
                </div>
              </div>
              <div class="catalog__filter-bottom-content js-tab-content" data-id="catalogTab2" data-reset-id="catalogTab2">
                <div class="catalog__subtags js-more-button-container">
                  <div class="catalog__subtag js-more-button-item">
                    <input class="catalog__subtag-radio visually-hidden" type="checkbox" name="catalogSubtag2-0" id="catalogSubtag2-0">
                    <label class="catalog__subtag-label" for="catalogSubtag2-0"><span>Управление холдингом</span>
                      <svg class="icon icon-cross-icon">
                        <use xlink:href="#cross-icon"></use>
                      </svg>
                    </label>
                  </div>
                  <div class="catalog__subtag js-more-button-item">
                    <input class="catalog__subtag-radio visually-hidden" type="checkbox" name="catalogSubtag2-1" id="catalogSubtag2-1">
                    <label class="catalog__subtag-label" for="catalogSubtag2-1"><span>Управленческий учет</span>
                      <svg class="icon icon-cross-icon">
                        <use xlink:href="#cross-icon"></use>
                      </svg>
                    </label>
                  </div>
                  <div class="catalog__subtag js-more-button-item">
                    <input class="catalog__subtag-radio visually-hidden" type="checkbox" name="catalogSubtag2-2" id="catalogSubtag2-2">
                    <label class="catalog__subtag-label" for="catalogSubtag2-2"><span>Бюджетирование</span>
                      <svg class="icon icon-cross-icon">
                        <use xlink:href="#cross-icon"></use>
                      </svg>
                    </label>
                  </div>
                  <div class="catalog__subtag js-more-button-item">
                    <input class="catalog__subtag-radio visually-hidden" type="checkbox" name="catalogSubtag2-3" id="catalogSubtag2-3">
                    <label class="catalog__subtag-label" for="catalogSubtag2-3"><span>Внедрение</span>
                      <svg class="icon icon-cross-icon">
                        <use xlink:href="#cross-icon"></use>
                      </svg>
                    </label>
                  </div>
                  <div class="catalog__subtag js-more-button-item">
                    <input class="catalog__subtag-radio visually-hidden" type="checkbox" name="catalogSubtag2-4" id="catalogSubtag2-4">
                    <label class="catalog__subtag-label" for="catalogSubtag2-4"><span>Интеграция</span>
                      <svg class="icon icon-cross-icon">
                        <use xlink:href="#cross-icon"></use>
                      </svg>
                    </label>
                  </div>
                  <div class="catalog__subtag js-more-button-item">
                    <input class="catalog__subtag-radio visually-hidden" type="checkbox" name="catalogSubtag2-5" id="catalogSubtag2-5">
                    <label class="catalog__subtag-label" for="catalogSubtag2-5"><span>Бухгалтерия</span>
                      <svg class="icon icon-cross-icon">
                        <use xlink:href="#cross-icon"></use>
                      </svg>
                    </label>
                  </div>
                  <div class="catalog__subtag js-more-button-item">
                    <input class="catalog__subtag-radio visually-hidden" type="checkbox" name="catalogSubtag2-6" id="catalogSubtag2-6">
                    <label class="catalog__subtag-label" for="catalogSubtag2-6"><span>Коммерция</span>
                      <svg class="icon icon-cross-icon">
                        <use xlink:href="#cross-icon"></use>
                      </svg>
                    </label>
                  </div>
                  <div class="catalog__subtag-more-button js-more-button js-more-button-not-toggle" data-count="6">+<span class="js-more-button-surplus">0</span>
                  </div>
                </div>
              </div>
              <div class="catalog__filter-bottom-content js-tab-content" data-id="catalogTab3" data-reset-id="catalogTab3">
                <div class="catalog__subtags js-more-button-container">
                  <div class="catalog__subtag js-more-button-item">
                    <input class="catalog__subtag-radio visually-hidden" type="checkbox" name="catalogSubtag3-0" id="catalogSubtag3-0">
                    <label class="catalog__subtag-label" for="catalogSubtag3-0"><span>Управление холдингом</span>
                      <svg class="icon icon-cross-icon">
                        <use xlink:href="#cross-icon"></use>
                      </svg>
                    </label>
                  </div>
                  <div class="catalog__subtag js-more-button-item">
                    <input class="catalog__subtag-radio visually-hidden" type="checkbox" name="catalogSubtag3-1" id="catalogSubtag3-1">
                    <label class="catalog__subtag-label" for="catalogSubtag3-1"><span>Управленческий учет</span>
                      <svg class="icon icon-cross-icon">
                        <use xlink:href="#cross-icon"></use>
                      </svg>
                    </label>
                  </div>
                  <div class="catalog__subtag js-more-button-item">
                    <input class="catalog__subtag-radio visually-hidden" type="checkbox" name="catalogSubtag3-2" id="catalogSubtag3-2">
                    <label class="catalog__subtag-label" for="catalogSubtag3-2"><span>Бюджетирование</span>
                      <svg class="icon icon-cross-icon">
                        <use xlink:href="#cross-icon"></use>
                      </svg>
                    </label>
                  </div>
                  <div class="catalog__subtag js-more-button-item">
                    <input class="catalog__subtag-radio visually-hidden" type="checkbox" name="catalogSubtag3-3" id="catalogSubtag3-3">
                    <label class="catalog__subtag-label" for="catalogSubtag3-3"><span>Внедрение</span>
                      <svg class="icon icon-cross-icon">
                        <use xlink:href="#cross-icon"></use>
                      </svg>
                    </label>
                  </div>
                  <div class="catalog__subtag js-more-button-item">
                    <input class="catalog__subtag-radio visually-hidden" type="checkbox" name="catalogSubtag3-4" id="catalogSubtag3-4">
                    <label class="catalog__subtag-label" for="catalogSubtag3-4"><span>Интеграция</span>
                      <svg class="icon icon-cross-icon">
                        <use xlink:href="#cross-icon"></use>
                      </svg>
                    </label>
                  </div>
                  <div class="catalog__subtag js-more-button-item">
                    <input class="catalog__subtag-radio visually-hidden" type="checkbox" name="catalogSubtag3-5" id="catalogSubtag3-5">
                    <label class="catalog__subtag-label" for="catalogSubtag3-5"><span>Бухгалтерия</span>
                      <svg class="icon icon-cross-icon">
                        <use xlink:href="#cross-icon"></use>
                      </svg>
                    </label>
                  </div>
                  <div class="catalog__subtag js-more-button-item">
                    <input class="catalog__subtag-radio visually-hidden" type="checkbox" name="catalogSubtag3-6" id="catalogSubtag3-6">
                    <label class="catalog__subtag-label" for="catalogSubtag3-6"><span>Коммерция</span>
                      <svg class="icon icon-cross-icon">
                        <use xlink:href="#cross-icon"></use>
                      </svg>
                    </label>
                  </div>
                  <div class="catalog__subtag-more-button js-more-button js-more-button-not-toggle" data-count="6">+<span class="js-more-button-surplus">0</span>
                  </div>
                </div>
              </div>
              <div class="catalog__filter-bottom-content js-tab-content" data-id="catalogTab4" data-reset-id="catalogTab4">
                <div class="catalog__subtags js-more-button-container">
                  <div class="catalog__subtag js-more-button-item">
                    <input class="catalog__subtag-radio visually-hidden" type="checkbox" name="catalogSubtag4-0" id="catalogSubtag4-0">
                    <label class="catalog__subtag-label" for="catalogSubtag4-0"><span>Управление холдингом</span>
                      <svg class="icon icon-cross-icon">
                        <use xlink:href="#cross-icon"></use>
                      </svg>
                    </label>
                  </div>
                  <div class="catalog__subtag js-more-button-item">
                    <input class="catalog__subtag-radio visually-hidden" type="checkbox" name="catalogSubtag4-1" id="catalogSubtag4-1">
                    <label class="catalog__subtag-label" for="catalogSubtag4-1"><span>Управленческий учет</span>
                      <svg class="icon icon-cross-icon">
                        <use xlink:href="#cross-icon"></use>
                      </svg>
                    </label>
                  </div>
                  <div class="catalog__subtag js-more-button-item">
                    <input class="catalog__subtag-radio visually-hidden" type="checkbox" name="catalogSubtag4-2" id="catalogSubtag4-2">
                    <label class="catalog__subtag-label" for="catalogSubtag4-2"><span>Бюджетирование</span>
                      <svg class="icon icon-cross-icon">
                        <use xlink:href="#cross-icon"></use>
                      </svg>
                    </label>
                  </div>
                  <div class="catalog__subtag js-more-button-item">
                    <input class="catalog__subtag-radio visually-hidden" type="checkbox" name="catalogSubtag4-3" id="catalogSubtag4-3">
                    <label class="catalog__subtag-label" for="catalogSubtag4-3"><span>Внедрение</span>
                      <svg class="icon icon-cross-icon">
                        <use xlink:href="#cross-icon"></use>
                      </svg>
                    </label>
                  </div>
                  <div class="catalog__subtag js-more-button-item">
                    <input class="catalog__subtag-radio visually-hidden" type="checkbox" name="catalogSubtag4-4" id="catalogSubtag4-4">
                    <label class="catalog__subtag-label" for="catalogSubtag4-4"><span>Интеграция</span>
                      <svg class="icon icon-cross-icon">
                        <use xlink:href="#cross-icon"></use>
                      </svg>
                    </label>
                  </div>
                  <div class="catalog__subtag js-more-button-item">
                    <input class="catalog__subtag-radio visually-hidden" type="checkbox" name="catalogSubtag4-5" id="catalogSubtag4-5">
                    <label class="catalog__subtag-label" for="catalogSubtag4-5"><span>Бухгалтерия</span>
                      <svg class="icon icon-cross-icon">
                        <use xlink:href="#cross-icon"></use>
                      </svg>
                    </label>
                  </div>
                  <div class="catalog__subtag js-more-button-item">
                    <input class="catalog__subtag-radio visually-hidden" type="checkbox" name="catalogSubtag4-6" id="catalogSubtag4-6">
                    <label class="catalog__subtag-label" for="catalogSubtag4-6"><span>Коммерция</span>
                      <svg class="icon icon-cross-icon">
                        <use xlink:href="#cross-icon"></use>
                      </svg>
                    </label>
                  </div>
                  <div class="catalog__subtag-more-button js-more-button js-more-button-not-toggle" data-count="6">+<span class="js-more-button-surplus">0</span>
                  </div>
                </div>
              </div>
              <div class="catalog__filter-bottom-content js-tab-content" data-id="catalogTab5" data-reset-id="catalogTab5">
                <div class="catalog__subtags js-more-button-container">
                  <div class="catalog__subtag js-more-button-item">
                    <input class="catalog__subtag-radio visually-hidden" type="checkbox" name="catalogSubtag5-0" id="catalogSubtag5-0">
                    <label class="catalog__subtag-label" for="catalogSubtag5-0"><span>Управление холдингом</span>
                      <svg class="icon icon-cross-icon">
                        <use xlink:href="#cross-icon"></use>
                      </svg>
                    </label>
                  </div>
                  <div class="catalog__subtag js-more-button-item">
                    <input class="catalog__subtag-radio visually-hidden" type="checkbox" name="catalogSubtag5-1" id="catalogSubtag5-1">
                    <label class="catalog__subtag-label" for="catalogSubtag5-1"><span>Управленческий учет</span>
                      <svg class="icon icon-cross-icon">
                        <use xlink:href="#cross-icon"></use>
                      </svg>
                    </label>
                  </div>
                  <div class="catalog__subtag js-more-button-item">
                    <input class="catalog__subtag-radio visually-hidden" type="checkbox" name="catalogSubtag5-2" id="catalogSubtag5-2">
                    <label class="catalog__subtag-label" for="catalogSubtag5-2"><span>Бюджетирование</span>
                      <svg class="icon icon-cross-icon">
                        <use xlink:href="#cross-icon"></use>
                      </svg>
                    </label>
                  </div>
                  <div class="catalog__subtag js-more-button-item">
                    <input class="catalog__subtag-radio visually-hidden" type="checkbox" name="catalogSubtag5-3" id="catalogSubtag5-3">
                    <label class="catalog__subtag-label" for="catalogSubtag5-3"><span>Внедрение</span>
                      <svg class="icon icon-cross-icon">
                        <use xlink:href="#cross-icon"></use>
                      </svg>
                    </label>
                  </div>
                  <div class="catalog__subtag js-more-button-item">
                    <input class="catalog__subtag-radio visually-hidden" type="checkbox" name="catalogSubtag5-4" id="catalogSubtag5-4">
                    <label class="catalog__subtag-label" for="catalogSubtag5-4"><span>Интеграция</span>
                      <svg class="icon icon-cross-icon">
                        <use xlink:href="#cross-icon"></use>
                      </svg>
                    </label>
                  </div>
                  <div class="catalog__subtag js-more-button-item">
                    <input class="catalog__subtag-radio visually-hidden" type="checkbox" name="catalogSubtag5-5" id="catalogSubtag5-5">
                    <label class="catalog__subtag-label" for="catalogSubtag5-5"><span>Бухгалтерия</span>
                      <svg class="icon icon-cross-icon">
                        <use xlink:href="#cross-icon"></use>
                      </svg>
                    </label>
                  </div>
                  <div class="catalog__subtag js-more-button-item">
                    <input class="catalog__subtag-radio visually-hidden" type="checkbox" name="catalogSubtag5-6" id="catalogSubtag5-6">
                    <label class="catalog__subtag-label" for="catalogSubtag5-6"><span>Коммерция</span>
                      <svg class="icon icon-cross-icon">
                        <use xlink:href="#cross-icon"></use>
                      </svg>
                    </label>
                  </div>
                  <div class="catalog__subtag-more-button js-more-button js-more-button-not-toggle" data-count="6">+<span class="js-more-button-surplus">0</span>
                  </div>
                </div>
              </div>
              <div class="catalog__filter-bottom-content js-tab-content" data-id="catalogDate">
                <div class="catalog__date js-tabs-container">
                  <div class="catalog__date-tabs js-tabs-scroll">
                    <div class="catalog__date-tab">
                      <input class="catalog__date-radio visually-hidden" type="radio" name="catalogDates" id="catalogDate0">
                      <label class="catalog__date-label js-tab tab-active" for="catalogDate0" data-href="catalogMonths0">Все года</label>
                    </div>
                    <div class="catalog__date-tab">
                      <input class="catalog__date-radio visually-hidden" type="radio" name="catalogDates" id="catalogDate1">
                      <label class="catalog__date-label js-tab" for="catalogDate1" data-href="catalogMonths1">2023</label>
                    </div>
                    <div class="catalog__date-tab">
                      <input class="catalog__date-radio visually-hidden" type="radio" name="catalogDates" id="catalogDate2">
                      <label class="catalog__date-label js-tab" for="catalogDate2" data-href="catalogMonths2">2022</label>
                    </div>
                    <div class="catalog__date-tab">
                      <input class="catalog__date-radio visually-hidden" type="radio" name="catalogDates" id="catalogDate3">
                      <label class="catalog__date-label js-tab" for="catalogDate3" data-href="catalogMonths3">2021</label>
                    </div>
                    <div class="catalog__date-tab">
                      <input class="catalog__date-radio visually-hidden" type="radio" name="catalogDates" id="catalogDate4">
                      <label class="catalog__date-label js-tab" for="catalogDate4" data-href="catalogMonths4">2020</label>
                    </div>
                  </div>
                  <div class="catalog__date-contents">
                    <div class="catalog__date-content js-tab-content active" data-id="catalogMonths0" data-reset-id="catalogMonths0">
                      <ul class="catalog__months">
                        <li class="catalog__month">
                          <input class="catalog__month-checkbox visually-hidden" type="checkbox" name="catalogMonth0-0" id="catalogMonth0-0">
                          <label class="catalog__month-label" for="catalogMonth0-0"><span>Январь</span>
                            <svg class="icon icon-cross-icon">
                              <use xlink:href="#cross-icon"></use>
                            </svg>
                          </label>
                        </li>
                        <li class="catalog__month">
                          <input class="catalog__month-checkbox visually-hidden" type="checkbox" name="catalogMonth0-1" id="catalogMonth0-1">
                          <label class="catalog__month-label" for="catalogMonth0-1"><span>Февраль</span>
                            <svg class="icon icon-cross-icon">
                              <use xlink:href="#cross-icon"></use>
                            </svg>
                          </label>
                        </li>
                        <li class="catalog__month">
                          <input class="catalog__month-checkbox visually-hidden" type="checkbox" name="catalogMonth0-2" id="catalogMonth0-2">
                          <label class="catalog__month-label" for="catalogMonth0-2"><span>Март</span>
                            <svg class="icon icon-cross-icon">
                              <use xlink:href="#cross-icon"></use>
                            </svg>
                          </label>
                        </li>
                        <li class="catalog__month">
                          <input class="catalog__month-checkbox visually-hidden" type="checkbox" name="catalogMonth0-3" id="catalogMonth0-3">
                          <label class="catalog__month-label" for="catalogMonth0-3"><span>Апрель</span>
                            <svg class="icon icon-cross-icon">
                              <use xlink:href="#cross-icon"></use>
                            </svg>
                          </label>
                        </li>
                        <li class="catalog__month">
                          <input class="catalog__month-checkbox visually-hidden" type="checkbox" name="catalogMonth0-4" id="catalogMonth0-4">
                          <label class="catalog__month-label" for="catalogMonth0-4"><span>Май</span>
                            <svg class="icon icon-cross-icon">
                              <use xlink:href="#cross-icon"></use>
                            </svg>
                          </label>
                        </li>
                        <li class="catalog__month">
                          <input class="catalog__month-checkbox visually-hidden" type="checkbox" name="catalogMonth0-5" id="catalogMonth0-5">
                          <label class="catalog__month-label" for="catalogMonth0-5"><span>Июнь</span>
                            <svg class="icon icon-cross-icon">
                              <use xlink:href="#cross-icon"></use>
                            </svg>
                          </label>
                        </li>
                        <li class="catalog__month">
                          <input class="catalog__month-checkbox visually-hidden" type="checkbox" name="catalogMonth0-6" id="catalogMonth0-6">
                          <label class="catalog__month-label" for="catalogMonth0-6"><span>Июль</span>
                            <svg class="icon icon-cross-icon">
                              <use xlink:href="#cross-icon"></use>
                            </svg>
                          </label>
                        </li>
                        <li class="catalog__month">
                          <input class="catalog__month-checkbox visually-hidden" type="checkbox" name="catalogMonth0-7" id="catalogMonth0-7">
                          <label class="catalog__month-label" for="catalogMonth0-7"><span>Август</span>
                            <svg class="icon icon-cross-icon">
                              <use xlink:href="#cross-icon"></use>
                            </svg>
                          </label>
                        </li>
                        <li class="catalog__month">
                          <input class="catalog__month-checkbox visually-hidden" type="checkbox" name="catalogMonth0-8" id="catalogMonth0-8">
                          <label class="catalog__month-label" for="catalogMonth0-8"><span>Сентябрь</span>
                            <svg class="icon icon-cross-icon">
                              <use xlink:href="#cross-icon"></use>
                            </svg>
                          </label>
                        </li>
                        <li class="catalog__month">
                          <input class="catalog__month-checkbox visually-hidden" type="checkbox" name="catalogMonth0-9" id="catalogMonth0-9">
                          <label class="catalog__month-label" for="catalogMonth0-9"><span>Октябрь</span>
                            <svg class="icon icon-cross-icon">
                              <use xlink:href="#cross-icon"></use>
                            </svg>
                          </label>
                        </li>
                        <li class="catalog__month">
                          <input class="catalog__month-checkbox visually-hidden" type="checkbox" name="catalogMonth0-10" id="catalogMonth0-10">
                          <label class="catalog__month-label" for="catalogMonth0-10"><span>Ноябрь</span>
                            <svg class="icon icon-cross-icon">
                              <use xlink:href="#cross-icon"></use>
                            </svg>
                          </label>
                        </li>
                        <li class="catalog__month">
                          <input class="catalog__month-checkbox visually-hidden" type="checkbox" name="catalogMonth0-11" id="catalogMonth0-11">
                          <label class="catalog__month-label" for="catalogMonth0-11"><span>Декабрь</span>
                            <svg class="icon icon-cross-icon">
                              <use xlink:href="#cross-icon"></use>
                            </svg>
                          </label>
                        </li>
                      </ul>
                      <button class="catalog__filter-reset button" type="button" data-container="catalogMonths0"><span>Очистить все</span>
                        <svg class="icon icon-reset-icon">
                          <use xlink:href="#reset-icon"></use>
                        </svg>
                      </button>
                    </div>
                    <div class="catalog__date-content js-tab-content" data-id="catalogMonths1" data-reset-id="catalogMonths1">
                      <ul class="catalog__months">
                        <li class="catalog__month">
                          <input class="catalog__month-checkbox visually-hidden" type="checkbox" name="catalogMonth1-0" id="catalogMonth1-0">
                          <label class="catalog__month-label" for="catalogMonth1-0"><span>Январь</span>
                            <svg class="icon icon-cross-icon">
                              <use xlink:href="#cross-icon"></use>
                            </svg>
                          </label>
                        </li>
                        <li class="catalog__month">
                          <input class="catalog__month-checkbox visually-hidden" type="checkbox" name="catalogMonth1-1" id="catalogMonth1-1">
                          <label class="catalog__month-label" for="catalogMonth1-1"><span>Февраль</span>
                            <svg class="icon icon-cross-icon">
                              <use xlink:href="#cross-icon"></use>
                            </svg>
                          </label>
                        </li>
                        <li class="catalog__month">
                          <input class="catalog__month-checkbox visually-hidden" type="checkbox" name="catalogMonth1-2" id="catalogMonth1-2">
                          <label class="catalog__month-label" for="catalogMonth1-2"><span>Март</span>
                            <svg class="icon icon-cross-icon">
                              <use xlink:href="#cross-icon"></use>
                            </svg>
                          </label>
                        </li>
                        <li class="catalog__month">
                          <input class="catalog__month-checkbox visually-hidden" type="checkbox" name="catalogMonth1-3" id="catalogMonth1-3">
                          <label class="catalog__month-label" for="catalogMonth1-3"><span>Апрель</span>
                            <svg class="icon icon-cross-icon">
                              <use xlink:href="#cross-icon"></use>
                            </svg>
                          </label>
                        </li>
                        <li class="catalog__month">
                          <input class="catalog__month-checkbox visually-hidden" type="checkbox" name="catalogMonth1-4" id="catalogMonth1-4">
                          <label class="catalog__month-label" for="catalogMonth1-4"><span>Май</span>
                            <svg class="icon icon-cross-icon">
                              <use xlink:href="#cross-icon"></use>
                            </svg>
                          </label>
                        </li>
                        <li class="catalog__month">
                          <input class="catalog__month-checkbox visually-hidden" type="checkbox" name="catalogMonth1-5" id="catalogMonth1-5">
                          <label class="catalog__month-label" for="catalogMonth1-5"><span>Июнь</span>
                            <svg class="icon icon-cross-icon">
                              <use xlink:href="#cross-icon"></use>
                            </svg>
                          </label>
                        </li>
                        <li class="catalog__month">
                          <input class="catalog__month-checkbox visually-hidden" type="checkbox" name="catalogMonth1-6" id="catalogMonth1-6">
                          <label class="catalog__month-label" for="catalogMonth1-6"><span>Июль</span>
                            <svg class="icon icon-cross-icon">
                              <use xlink:href="#cross-icon"></use>
                            </svg>
                          </label>
                        </li>
                        <li class="catalog__month">
                          <input class="catalog__month-checkbox visually-hidden" type="checkbox" name="catalogMonth1-7" id="catalogMonth1-7">
                          <label class="catalog__month-label" for="catalogMonth1-7"><span>Август</span>
                            <svg class="icon icon-cross-icon">
                              <use xlink:href="#cross-icon"></use>
                            </svg>
                          </label>
                        </li>
                        <li class="catalog__month">
                          <input class="catalog__month-checkbox visually-hidden" type="checkbox" name="catalogMonth1-8" id="catalogMonth1-8">
                          <label class="catalog__month-label" for="catalogMonth1-8"><span>Сентябрь</span>
                            <svg class="icon icon-cross-icon">
                              <use xlink:href="#cross-icon"></use>
                            </svg>
                          </label>
                        </li>
                        <li class="catalog__month">
                          <input class="catalog__month-checkbox visually-hidden" type="checkbox" name="catalogMonth1-9" id="catalogMonth1-9">
                          <label class="catalog__month-label" for="catalogMonth1-9"><span>Октябрь</span>
                            <svg class="icon icon-cross-icon">
                              <use xlink:href="#cross-icon"></use>
                            </svg>
                          </label>
                        </li>
                        <li class="catalog__month">
                          <input class="catalog__month-checkbox visually-hidden" type="checkbox" name="catalogMonth1-10" id="catalogMonth1-10">
                          <label class="catalog__month-label" for="catalogMonth1-10"><span>Ноябрь</span>
                            <svg class="icon icon-cross-icon">
                              <use xlink:href="#cross-icon"></use>
                            </svg>
                          </label>
                        </li>
                        <li class="catalog__month">
                          <input class="catalog__month-checkbox visually-hidden" type="checkbox" name="catalogMonth1-11" id="catalogMonth1-11">
                          <label class="catalog__month-label" for="catalogMonth1-11"><span>Декабрь</span>
                            <svg class="icon icon-cross-icon">
                              <use xlink:href="#cross-icon"></use>
                            </svg>
                          </label>
                        </li>
                      </ul>
                      <button class="catalog__filter-reset button" type="button" data-container="catalogMonths1"><span>Очистить все</span>
                        <svg class="icon icon-reset-icon">
                          <use xlink:href="#reset-icon"></use>
                        </svg>
                      </button>
                    </div>
                    <div class="catalog__date-content js-tab-content" data-id="catalogMonths2" data-reset-id="catalogMonths2">
                      <ul class="catalog__months">
                        <li class="catalog__month">
                          <input class="catalog__month-checkbox visually-hidden" type="checkbox" name="catalogMonth2-0" id="catalogMonth2-0">
                          <label class="catalog__month-label" for="catalogMonth2-0"><span>Январь</span>
                            <svg class="icon icon-cross-icon">
                              <use xlink:href="#cross-icon"></use>
                            </svg>
                          </label>
                        </li>
                        <li class="catalog__month">
                          <input class="catalog__month-checkbox visually-hidden" type="checkbox" name="catalogMonth2-1" id="catalogMonth2-1">
                          <label class="catalog__month-label" for="catalogMonth2-1"><span>Февраль</span>
                            <svg class="icon icon-cross-icon">
                              <use xlink:href="#cross-icon"></use>
                            </svg>
                          </label>
                        </li>
                        <li class="catalog__month">
                          <input class="catalog__month-checkbox visually-hidden" type="checkbox" name="catalogMonth2-2" id="catalogMonth2-2">
                          <label class="catalog__month-label" for="catalogMonth2-2"><span>Март</span>
                            <svg class="icon icon-cross-icon">
                              <use xlink:href="#cross-icon"></use>
                            </svg>
                          </label>
                        </li>
                        <li class="catalog__month">
                          <input class="catalog__month-checkbox visually-hidden" type="checkbox" name="catalogMonth2-3" id="catalogMonth2-3">
                          <label class="catalog__month-label" for="catalogMonth2-3"><span>Апрель</span>
                            <svg class="icon icon-cross-icon">
                              <use xlink:href="#cross-icon"></use>
                            </svg>
                          </label>
                        </li>
                        <li class="catalog__month">
                          <input class="catalog__month-checkbox visually-hidden" type="checkbox" name="catalogMonth2-4" id="catalogMonth2-4">
                          <label class="catalog__month-label" for="catalogMonth2-4"><span>Май</span>
                            <svg class="icon icon-cross-icon">
                              <use xlink:href="#cross-icon"></use>
                            </svg>
                          </label>
                        </li>
                        <li class="catalog__month">
                          <input class="catalog__month-checkbox visually-hidden" type="checkbox" name="catalogMonth2-5" id="catalogMonth2-5">
                          <label class="catalog__month-label" for="catalogMonth2-5"><span>Июнь</span>
                            <svg class="icon icon-cross-icon">
                              <use xlink:href="#cross-icon"></use>
                            </svg>
                          </label>
                        </li>
                        <li class="catalog__month">
                          <input class="catalog__month-checkbox visually-hidden" type="checkbox" name="catalogMonth2-6" id="catalogMonth2-6">
                          <label class="catalog__month-label" for="catalogMonth2-6"><span>Июль</span>
                            <svg class="icon icon-cross-icon">
                              <use xlink:href="#cross-icon"></use>
                            </svg>
                          </label>
                        </li>
                        <li class="catalog__month">
                          <input class="catalog__month-checkbox visually-hidden" type="checkbox" name="catalogMonth2-7" id="catalogMonth2-7">
                          <label class="catalog__month-label" for="catalogMonth2-7"><span>Август</span>
                            <svg class="icon icon-cross-icon">
                              <use xlink:href="#cross-icon"></use>
                            </svg>
                          </label>
                        </li>
                        <li class="catalog__month">
                          <input class="catalog__month-checkbox visually-hidden" type="checkbox" name="catalogMonth2-8" id="catalogMonth2-8">
                          <label class="catalog__month-label" for="catalogMonth2-8"><span>Сентябрь</span>
                            <svg class="icon icon-cross-icon">
                              <use xlink:href="#cross-icon"></use>
                            </svg>
                          </label>
                        </li>
                        <li class="catalog__month">
                          <input class="catalog__month-checkbox visually-hidden" type="checkbox" name="catalogMonth2-9" id="catalogMonth2-9">
                          <label class="catalog__month-label" for="catalogMonth2-9"><span>Октябрь</span>
                            <svg class="icon icon-cross-icon">
                              <use xlink:href="#cross-icon"></use>
                            </svg>
                          </label>
                        </li>
                        <li class="catalog__month">
                          <input class="catalog__month-checkbox visually-hidden" type="checkbox" name="catalogMonth2-10" id="catalogMonth2-10">
                          <label class="catalog__month-label" for="catalogMonth2-10"><span>Ноябрь</span>
                            <svg class="icon icon-cross-icon">
                              <use xlink:href="#cross-icon"></use>
                            </svg>
                          </label>
                        </li>
                        <li class="catalog__month">
                          <input class="catalog__month-checkbox visually-hidden" type="checkbox" name="catalogMonth2-11" id="catalogMonth2-11">
                          <label class="catalog__month-label" for="catalogMonth2-11"><span>Декабрь</span>
                            <svg class="icon icon-cross-icon">
                              <use xlink:href="#cross-icon"></use>
                            </svg>
                          </label>
                        </li>
                      </ul>
                      <button class="catalog__filter-reset button" type="button" data-container="catalogMonths2"><span>Очистить все</span>
                        <svg class="icon icon-reset-icon">
                          <use xlink:href="#reset-icon"></use>
                        </svg>
                      </button>
                    </div>
                    <div class="catalog__date-content js-tab-content" data-id="catalogMonths3" data-reset-id="catalogMonths3">
                      <ul class="catalog__months">
                        <li class="catalog__month">
                          <input class="catalog__month-checkbox visually-hidden" type="checkbox" name="catalogMonth3-0" id="catalogMonth3-0">
                          <label class="catalog__month-label" for="catalogMonth3-0"><span>Январь</span>
                            <svg class="icon icon-cross-icon">
                              <use xlink:href="#cross-icon"></use>
                            </svg>
                          </label>
                        </li>
                        <li class="catalog__month">
                          <input class="catalog__month-checkbox visually-hidden" type="checkbox" name="catalogMonth3-1" id="catalogMonth3-1">
                          <label class="catalog__month-label" for="catalogMonth3-1"><span>Февраль</span>
                            <svg class="icon icon-cross-icon">
                              <use xlink:href="#cross-icon"></use>
                            </svg>
                          </label>
                        </li>
                        <li class="catalog__month">
                          <input class="catalog__month-checkbox visually-hidden" type="checkbox" name="catalogMonth3-2" id="catalogMonth3-2">
                          <label class="catalog__month-label" for="catalogMonth3-2"><span>Март</span>
                            <svg class="icon icon-cross-icon">
                              <use xlink:href="#cross-icon"></use>
                            </svg>
                          </label>
                        </li>
                        <li class="catalog__month">
                          <input class="catalog__month-checkbox visually-hidden" type="checkbox" name="catalogMonth3-3" id="catalogMonth3-3">
                          <label class="catalog__month-label" for="catalogMonth3-3"><span>Апрель</span>
                            <svg class="icon icon-cross-icon">
                              <use xlink:href="#cross-icon"></use>
                            </svg>
                          </label>
                        </li>
                        <li class="catalog__month">
                          <input class="catalog__month-checkbox visually-hidden" type="checkbox" name="catalogMonth3-4" id="catalogMonth3-4">
                          <label class="catalog__month-label" for="catalogMonth3-4"><span>Май</span>
                            <svg class="icon icon-cross-icon">
                              <use xlink:href="#cross-icon"></use>
                            </svg>
                          </label>
                        </li>
                        <li class="catalog__month">
                          <input class="catalog__month-checkbox visually-hidden" type="checkbox" name="catalogMonth3-5" id="catalogMonth3-5">
                          <label class="catalog__month-label" for="catalogMonth3-5"><span>Июнь</span>
                            <svg class="icon icon-cross-icon">
                              <use xlink:href="#cross-icon"></use>
                            </svg>
                          </label>
                        </li>
                        <li class="catalog__month">
                          <input class="catalog__month-checkbox visually-hidden" type="checkbox" name="catalogMonth3-6" id="catalogMonth3-6">
                          <label class="catalog__month-label" for="catalogMonth3-6"><span>Июль</span>
                            <svg class="icon icon-cross-icon">
                              <use xlink:href="#cross-icon"></use>
                            </svg>
                          </label>
                        </li>
                        <li class="catalog__month">
                          <input class="catalog__month-checkbox visually-hidden" type="checkbox" name="catalogMonth3-7" id="catalogMonth3-7">
                          <label class="catalog__month-label" for="catalogMonth3-7"><span>Август</span>
                            <svg class="icon icon-cross-icon">
                              <use xlink:href="#cross-icon"></use>
                            </svg>
                          </label>
                        </li>
                        <li class="catalog__month">
                          <input class="catalog__month-checkbox visually-hidden" type="checkbox" name="catalogMonth3-8" id="catalogMonth3-8">
                          <label class="catalog__month-label" for="catalogMonth3-8"><span>Сентябрь</span>
                            <svg class="icon icon-cross-icon">
                              <use xlink:href="#cross-icon"></use>
                            </svg>
                          </label>
                        </li>
                        <li class="catalog__month">
                          <input class="catalog__month-checkbox visually-hidden" type="checkbox" name="catalogMonth3-9" id="catalogMonth3-9">
                          <label class="catalog__month-label" for="catalogMonth3-9"><span>Октябрь</span>
                            <svg class="icon icon-cross-icon">
                              <use xlink:href="#cross-icon"></use>
                            </svg>
                          </label>
                        </li>
                        <li class="catalog__month">
                          <input class="catalog__month-checkbox visually-hidden" type="checkbox" name="catalogMonth3-10" id="catalogMonth3-10">
                          <label class="catalog__month-label" for="catalogMonth3-10"><span>Ноябрь</span>
                            <svg class="icon icon-cross-icon">
                              <use xlink:href="#cross-icon"></use>
                            </svg>
                          </label>
                        </li>
                        <li class="catalog__month">
                          <input class="catalog__month-checkbox visually-hidden" type="checkbox" name="catalogMonth3-11" id="catalogMonth3-11">
                          <label class="catalog__month-label" for="catalogMonth3-11"><span>Декабрь</span>
                            <svg class="icon icon-cross-icon">
                              <use xlink:href="#cross-icon"></use>
                            </svg>
                          </label>
                        </li>
                      </ul>
                      <button class="catalog__filter-reset button" type="button" data-container="catalogMonths3"><span>Очистить все</span>
                        <svg class="icon icon-reset-icon">
                          <use xlink:href="#reset-icon"></use>
                        </svg>
                      </button>
                    </div>
                    <div class="catalog__date-content js-tab-content" data-id="catalogMonths4" data-reset-id="catalogMonths4">
                      <ul class="catalog__months">
                        <li class="catalog__month">
                          <input class="catalog__month-checkbox visually-hidden" type="checkbox" name="catalogMonth4-0" id="catalogMonth4-0">
                          <label class="catalog__month-label" for="catalogMonth4-0"><span>Январь</span>
                            <svg class="icon icon-cross-icon">
                              <use xlink:href="#cross-icon"></use>
                            </svg>
                          </label>
                        </li>
                        <li class="catalog__month">
                          <input class="catalog__month-checkbox visually-hidden" type="checkbox" name="catalogMonth4-1" id="catalogMonth4-1">
                          <label class="catalog__month-label" for="catalogMonth4-1"><span>Февраль</span>
                            <svg class="icon icon-cross-icon">
                              <use xlink:href="#cross-icon"></use>
                            </svg>
                          </label>
                        </li>
                        <li class="catalog__month">
                          <input class="catalog__month-checkbox visually-hidden" type="checkbox" name="catalogMonth4-2" id="catalogMonth4-2">
                          <label class="catalog__month-label" for="catalogMonth4-2"><span>Март</span>
                            <svg class="icon icon-cross-icon">
                              <use xlink:href="#cross-icon"></use>
                            </svg>
                          </label>
                        </li>
                        <li class="catalog__month">
                          <input class="catalog__month-checkbox visually-hidden" type="checkbox" name="catalogMonth4-3" id="catalogMonth4-3">
                          <label class="catalog__month-label" for="catalogMonth4-3"><span>Апрель</span>
                            <svg class="icon icon-cross-icon">
                              <use xlink:href="#cross-icon"></use>
                            </svg>
                          </label>
                        </li>
                        <li class="catalog__month">
                          <input class="catalog__month-checkbox visually-hidden" type="checkbox" name="catalogMonth4-4" id="catalogMonth4-4">
                          <label class="catalog__month-label" for="catalogMonth4-4"><span>Май</span>
                            <svg class="icon icon-cross-icon">
                              <use xlink:href="#cross-icon"></use>
                            </svg>
                          </label>
                        </li>
                        <li class="catalog__month">
                          <input class="catalog__month-checkbox visually-hidden" type="checkbox" name="catalogMonth4-5" id="catalogMonth4-5">
                          <label class="catalog__month-label" for="catalogMonth4-5"><span>Июнь</span>
                            <svg class="icon icon-cross-icon">
                              <use xlink:href="#cross-icon"></use>
                            </svg>
                          </label>
                        </li>
                        <li class="catalog__month">
                          <input class="catalog__month-checkbox visually-hidden" type="checkbox" name="catalogMonth4-6" id="catalogMonth4-6">
                          <label class="catalog__month-label" for="catalogMonth4-6"><span>Июль</span>
                            <svg class="icon icon-cross-icon">
                              <use xlink:href="#cross-icon"></use>
                            </svg>
                          </label>
                        </li>
                        <li class="catalog__month">
                          <input class="catalog__month-checkbox visually-hidden" type="checkbox" name="catalogMonth4-7" id="catalogMonth4-7">
                          <label class="catalog__month-label" for="catalogMonth4-7"><span>Август</span>
                            <svg class="icon icon-cross-icon">
                              <use xlink:href="#cross-icon"></use>
                            </svg>
                          </label>
                        </li>
                        <li class="catalog__month">
                          <input class="catalog__month-checkbox visually-hidden" type="checkbox" name="catalogMonth4-8" id="catalogMonth4-8">
                          <label class="catalog__month-label" for="catalogMonth4-8"><span>Сентябрь</span>
                            <svg class="icon icon-cross-icon">
                              <use xlink:href="#cross-icon"></use>
                            </svg>
                          </label>
                        </li>
                        <li class="catalog__month">
                          <input class="catalog__month-checkbox visually-hidden" type="checkbox" name="catalogMonth4-9" id="catalogMonth4-9">
                          <label class="catalog__month-label" for="catalogMonth4-9"><span>Октябрь</span>
                            <svg class="icon icon-cross-icon">
                              <use xlink:href="#cross-icon"></use>
                            </svg>
                          </label>
                        </li>
                        <li class="catalog__month">
                          <input class="catalog__month-checkbox visually-hidden" type="checkbox" name="catalogMonth4-10" id="catalogMonth4-10">
                          <label class="catalog__month-label" for="catalogMonth4-10"><span>Ноябрь</span>
                            <svg class="icon icon-cross-icon">
                              <use xlink:href="#cross-icon"></use>
                            </svg>
                          </label>
                        </li>
                        <li class="catalog__month">
                          <input class="catalog__month-checkbox visually-hidden" type="checkbox" name="catalogMonth4-11" id="catalogMonth4-11">
                          <label class="catalog__month-label" for="catalogMonth4-11"><span>Декабрь</span>
                            <svg class="icon icon-cross-icon">
                              <use xlink:href="#cross-icon"></use>
                            </svg>
                          </label>
                        </li>
                      </ul>
                      <button class="catalog__filter-reset button" type="button" data-container="catalogMonths4"><span>Очистить все</span>
                        <svg class="icon icon-reset-icon">
                          <use xlink:href="#reset-icon"></use>
                        </svg>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
          <ul class="catalog__list">
            <li class="catalog__item js-more-button-item">
              <article class="catalog-card">

                <header class="catalog-card__header">
                  <div class="catalog-card__meta-block">
                    <div class="catalog-card__meta">
                      <div class="catalog-card__meta-item card-tag card-tag--transparent">
                        <img src="./img/meta-icon-1-white.png" alt="Иконка мета тега"><span>Конференция</span>
                      </div>
                      <div class="catalog-card__meta-item card-tag card-tag--transparent">
                        <img src="./img/meta-icon-2-white.svg" alt="Иконка мета тега"><span>1 час</span>
                      </div>
                      <div class="catalog-card__meta-item card-tag card-tag--transparent">
                        <img src="./img/meta-icon-3-white.svg" alt="Иконка мета тега"><span>7500 Р.</span>
                      </div>
                    </div>
                  </div>
                  <h3 class="catalog-card__title">
                    <a href="#">WildBerries и 1С: автоматизация создания карточек товаров на маркетплейсе и мониторинг цен на свои товары</a>
                  </h3><span class="catalog-card__title catalog-card__title--start"></span><span class="catalog-card__day">Понедельник</span>
                </header>
                <div class="catalog-card__body">
                  <h3 class="catalog-card__title catalog-card__title--right">
                    <a href="#">WildBerries и 1С: автоматизация создания карточек товаров на маркетплейсе и мониторинг цен на свои товары</a>
                  </h3>
                  <p class="catalog-card__text">На вебинаре 6 октября мы подробно рассказали, с чего нужно начать подготовку к распродажам и поговорили про полезные инструменты RDV Маркет.</p>
                  <div class="catalog-card__footer">
                    <ul class="catalog-card__markets js-more-button-row-container">
                      <li class="catalog-card__market button button--small button--border-grey js-more-button-row-item">wildberries</li>
                      <li class="catalog-card__market button button--small button--border-grey js-more-button-row-item">Ozon</li>
                      <li class="catalog-card__market button button--small button--border-grey js-more-button-row-item">RDV Маркет</li>
                      <button class="catalog-card__market-more-button button button--small button--border-grey js-more-button-row">+<span class="js-more-button-row-surplus">0</span>
                      </button>
                    </ul>
                    <a class="catalog-card__button button button--medium button--yellow" href="#">Регистрация</a>
                  </div>
                </div>
              </article>
            </li>
            <li class="catalog__item js-more-button-item">
              <article class="catalog-card">

                <header class="catalog-card__header">
                  <div class="catalog-card__meta-block">
                    <div class="catalog-card__meta">
                      <div class="catalog-card__meta-item card-tag card-tag--transparent">
                        <img src="./img/meta-icon-1-white.png" alt="Иконка мета тега"><span>Конференция</span>
                      </div>
                      <div class="catalog-card__meta-item card-tag card-tag--transparent">
                        <img src="./img/meta-icon-2-white.svg" alt="Иконка мета тега"><span>1 час</span>
                      </div>
                      <div class="catalog-card__meta-item card-tag card-tag--transparent">
                        <img src="./img/meta-icon-3-white.svg" alt="Иконка мета тега"><span>7500 Р.</span>
                      </div>
                    </div>
                  </div>
                  <h3 class="catalog-card__title">
                    <a href="#">Выставка E-com’23</a>
                  </h3><span class="catalog-card__title catalog-card__title--start"></span><span class="catalog-card__day">Понедельник</span>
                </header>
                <div class="catalog-card__body">
                  <h3 class="catalog-card__title catalog-card__title--right">
                    <a href="#">Выставка E-com’23</a>
                  </h3>
                  <p class="catalog-card__text">На вебинаре 6 октября мы подробно рассказали, с чего нужно начать подготовку к распродажам и поговорили про полезные инструменты RDV Маркет.</p>
                  <div class="catalog-card__footer">
                    <ul class="catalog-card__markets js-more-button-row-container">
                      <li class="catalog-card__market button button--small button--border-grey js-more-button-row-item">wildberries</li>
                      <li class="catalog-card__market button button--small button--border-grey js-more-button-row-item">Ozon</li>
                      <li class="catalog-card__market button button--small button--border-grey js-more-button-row-item">RDV Маркет</li>
                      <button class="catalog-card__market-more-button button button--small button--border-grey js-more-button-row">+<span class="js-more-button-row-surplus">0</span>
                      </button>
                    </ul>
                    <a class="catalog-card__button button button--medium button--yellow" href="#">Регистрация</a>
                  </div>
                </div>
              </article>
            </li>
            <li class="catalog__item js-more-button-item">
              <article class="catalog-card">

                <header class="catalog-card__header">
                  <div class="catalog-card__meta-block">
                    <div class="catalog-card__meta">
                      <div class="catalog-card__meta-item card-tag card-tag--transparent">
                        <img src="./img/meta-icon-1-white.png" alt="Иконка мета тега"><span>Конференция</span>
                      </div>
                      <div class="catalog-card__meta-item card-tag card-tag--transparent">
                        <img src="./img/meta-icon-2-white.svg" alt="Иконка мета тега"><span>1 час</span>
                      </div>
                      <div class="catalog-card__meta-item card-tag card-tag--transparent">
                        <img src="./img/meta-icon-3-white.svg" alt="Иконка мета тега"><span>7500 Р.</span>
                      </div>
                    </div>
                  </div>
                  <h3 class="catalog-card__title">
                    <a href="#">Как подготовиться к распродажам на маркетплейсах Wildberries и Ozon</a>
                  </h3><span class="catalog-card__title catalog-card__title--start"></span><span class="catalog-card__day">Понедельник</span>
                </header>
                <div class="catalog-card__body">
                  <h3 class="catalog-card__title catalog-card__title--right">
                    <a href="#">Как подготовиться к распродажам на маркетплейсах Wildberries и Ozon</a>
                  </h3>
                  <p class="catalog-card__text">На вебинаре 6 октября мы подробно рассказали, с чего нужно начать подготовку к распродажам и поговорили про полезные инструменты RDV Маркет.</p>
                  <div class="catalog-card__footer">
                    <ul class="catalog-card__markets js-more-button-row-container">
                      <li class="catalog-card__market button button--small button--border-grey js-more-button-row-item">wildberries</li>
                      <li class="catalog-card__market button button--small button--border-grey js-more-button-row-item">Ozon</li>
                      <li class="catalog-card__market button button--small button--border-grey js-more-button-row-item">RDV Маркет</li>
                      <button class="catalog-card__market-more-button button button--small button--border-grey js-more-button-row">+<span class="js-more-button-row-surplus">0</span>
                      </button>
                    </ul>
                    <a class="catalog-card__button button button--medium button--yellow" href="#">Регистрация</a>
                  </div>
                </div>
              </article>
            </li>
            <li class="catalog__item js-more-button-item">
              <article class="catalog-card">

                <header class="catalog-card__header">
                  <div class="catalog-card__meta-block">
                    <div class="catalog-card__meta">
                      <div class="catalog-card__meta-item card-tag card-tag--transparent">
                        <img src="./img/meta-icon-1-white.png" alt="Иконка мета тега"><span>Конференция</span>
                      </div>
                      <div class="catalog-card__meta-item card-tag card-tag--transparent">
                        <img src="./img/meta-icon-2-white.svg" alt="Иконка мета тега"><span>1 час</span>
                      </div>
                      <div class="catalog-card__meta-item card-tag card-tag--transparent">
                        <img src="./img/meta-icon-3-white.svg" alt="Иконка мета тега"><span>7500 Р.</span>
                      </div>
                    </div>
                  </div>
                  <h3 class="catalog-card__title">
                    <a href="#">Пример большого заголовок карточки в три или более количества строк</a>
                  </h3><span class="catalog-card__title catalog-card__title--start"></span><span class="catalog-card__day">Понедельник</span>
                </header>
                <div class="catalog-card__body">
                  <h3 class="catalog-card__title catalog-card__title--right">
                    <a href="#">Пример большого заголовок карточки в три или более количества строк</a>
                  </h3>
                  <p class="catalog-card__text">На вебинаре 6 октября мы подробно рассказали, с чего нужно начать подготовку к распродажам и поговорили про полезные инструменты RDV Маркет.</p>
                  <div class="catalog-card__footer">
                    <ul class="catalog-card__markets js-more-button-row-container">
                      <li class="catalog-card__market button button--small button--border-grey js-more-button-row-item">wildberries</li>
                      <li class="catalog-card__market button button--small button--border-grey js-more-button-row-item">Ozon</li>
                      <li class="catalog-card__market button button--small button--border-grey js-more-button-row-item">RDV Маркет</li>
                      <button class="catalog-card__market-more-button button button--small button--border-grey js-more-button-row">+<span class="js-more-button-row-surplus">0</span>
                      </button>
                    </ul>
                    <a class="catalog-card__button button button--medium button--yellow" href="#">Регистрация</a>
                  </div>
                </div>
              </article>
            </li>
            <li class="catalog__item js-more-button-item">
              <article class="catalog-card">

                <header class="catalog-card__header">
                  <div class="catalog-card__meta-block">
                    <div class="catalog-card__meta">
                      <div class="catalog-card__meta-item card-tag card-tag--transparent">
                        <img src="./img/meta-icon-1-white.png" alt="Иконка мета тега"><span>Конференция</span>
                      </div>
                      <div class="catalog-card__meta-item card-tag card-tag--transparent">
                        <img src="./img/meta-icon-2-white.svg" alt="Иконка мета тега"><span>1 час</span>
                      </div>
                      <div class="catalog-card__meta-item card-tag card-tag--transparent">
                        <img src="./img/meta-icon-3-white.svg" alt="Иконка мета тега"><span>7500 Р.</span>
                      </div>
                    </div>
                  </div>
                  <h3 class="catalog-card__title">
                    <a href="#">Как ускорить работу с карточками на Wildberries и Ozon в 2 раза из 1С</a>
                  </h3><span class="catalog-card__title catalog-card__title--start"></span><span class="catalog-card__day">Понедельник</span>
                </header>
                <div class="catalog-card__body">
                  <h3 class="catalog-card__title catalog-card__title--right">
                    <a href="#">Как ускорить работу с карточками на Wildberries и Ozon в 2 раза из 1С</a>
                  </h3>
                  <p class="catalog-card__text">На вебинаре 6 октября мы подробно рассказали, с чего нужно начать подготовку к распродажам и поговорили про полезные инструменты RDV Маркет.</p>
                  <div class="catalog-card__footer">
                    <ul class="catalog-card__markets js-more-button-row-container">
                      <li class="catalog-card__market button button--small button--border-grey js-more-button-row-item">wildberries</li>
                      <li class="catalog-card__market button button--small button--border-grey js-more-button-row-item">Ozon</li>
                      <li class="catalog-card__market button button--small button--border-grey js-more-button-row-item">RDV Маркет</li>
                      <button class="catalog-card__market-more-button button button--small button--border-grey js-more-button-row">+<span class="js-more-button-row-surplus">0</span>
                      </button>
                    </ul>
                    <a class="catalog-card__button button button--medium button--yellow" href="#">Регистрация</a>
                  </div>
                </div>
              </article>
            </li>
            <li class="catalog__item js-more-button-item">
              <article class="catalog-card">

                <header class="catalog-card__header">
                  <div class="catalog-card__meta-block">
                    <div class="catalog-card__record card-tag card-tag--yellow">Запись вебинара</div>
                    <div class="catalog-card__meta">
                      <div class="catalog-card__meta-item card-tag card-tag--transparent">
                        <img src="./img/meta-icon-1-white.png" alt="Иконка мета тега"><span>Конференция</span>
                      </div>
                      <div class="catalog-card__meta-item card-tag card-tag--transparent">
                        <img src="./img/meta-icon-2-white.svg" alt="Иконка мета тега"><span>1 час</span>
                      </div>
                      <div class="catalog-card__meta-item card-tag card-tag--transparent">
                        <img src="./img/meta-icon-3-white.svg" alt="Иконка мета тега"><span>7500 Р.</span>
                      </div>
                    </div>
                  </div>
                  <h3 class="catalog-card__title">
                    <a href="#">WildBerries и 1С: автоматизация создания карточек товаров на маркетплейсе и мониторинг цен на свои товары</a>
                  </h3><span class="catalog-card__title catalog-card__title--start"></span><span class="catalog-card__day">Понедельник</span>
                </header>
                <div class="catalog-card__body">
                  <h3 class="catalog-card__title catalog-card__title--right">
                    <a href="#">WildBerries и 1С: автоматизация создания карточек товаров на маркетплейсе и мониторинг цен на свои товары</a>
                  </h3>
                  <p class="catalog-card__text">На вебинаре 6 октября мы подробно рассказали, с чего нужно начать подготовку к распродажам и поговорили про полезные инструменты RDV Маркет.</p>
                  <div class="catalog-card__footer">
                    <ul class="catalog-card__markets js-more-button-row-container">
                      <li class="catalog-card__market button button--small button--border-grey js-more-button-row-item">wildberries</li>
                      <li class="catalog-card__market button button--small button--border-grey js-more-button-row-item">Ozon</li>
                      <li class="catalog-card__market button button--small button--border-grey js-more-button-row-item">RDV Маркет</li>
                      <button class="catalog-card__market-more-button button button--small button--border-grey js-more-button-row">+<span class="js-more-button-row-surplus">0</span>
                      </button>
                    </ul>
                    <a class="catalog-card__button button button--medium button--yellow" href="#">Получить запись</a>
                  </div>
                </div>
              </article>
            </li>
            <li class="catalog__item js-more-button-item">
              <article class="catalog-card">

                <header class="catalog-card__header">
                  <div class="catalog-card__meta-block">
                    <div class="catalog-card__meta">
                      <div class="catalog-card__meta-item card-tag card-tag--transparent">
                        <img src="./img/meta-icon-1-white.png" alt="Иконка мета тега"><span>Конференция</span>
                      </div>
                      <div class="catalog-card__meta-item card-tag card-tag--transparent">
                        <img src="./img/meta-icon-2-white.svg" alt="Иконка мета тега"><span>1 час</span>
                      </div>
                      <div class="catalog-card__meta-item card-tag card-tag--transparent">
                        <img src="./img/meta-icon-3-white.svg" alt="Иконка мета тега"><span>7500 Р.</span>
                      </div>
                    </div>
                  </div>
                  <h3 class="catalog-card__title">
                    <a href="#">WildBerries и 1С: автоматизация создания карточек товаров на маркетплейсе и мониторинг цен на свои товары</a>
                  </h3><span class="catalog-card__title catalog-card__title--start"></span><span class="catalog-card__day">Понедельник</span>
                </header>
                <div class="catalog-card__body">
                  <h3 class="catalog-card__title catalog-card__title--right">
                    <a href="#">WildBerries и 1С: автоматизация создания карточек товаров на маркетплейсе и мониторинг цен на свои товары</a>
                  </h3>
                  <p class="catalog-card__text">На вебинаре 6 октября мы подробно рассказали, с чего нужно начать подготовку к распродажам и поговорили про полезные инструменты RDV Маркет.</p>
                  <div class="catalog-card__footer">
                    <ul class="catalog-card__markets js-more-button-row-container">
                      <li class="catalog-card__market button button--small button--border-grey js-more-button-row-item">wildberries</li>
                      <li class="catalog-card__market button button--small button--border-grey js-more-button-row-item">Ozon</li>
                      <li class="catalog-card__market button button--small button--border-grey js-more-button-row-item">RDV Маркет</li>
                      <button class="catalog-card__market-more-button button button--small button--border-grey js-more-button-row">+<span class="js-more-button-row-surplus">0</span>
                      </button>
                    </ul>
                    <a class="catalog-card__button button button--medium button--yellow" href="#">Регистрация</a>
                  </div>
                </div>
              </article>
            </li>
          </ul>
          <button class="catalog__button button button--large button--grey js-more-button" data-count="6" data-mobile-count="3">Показать еще</button>
        </div>
      </div>
    </section>
    <article class="mailing page-section--large-margin">
      <div class="container-block">
        <div class="mailing__inner" style="background-image: url('./img/mailing-bg.svg')">
          <div class="mailing__content">
            <h2 class="mailing__title">Подпишитесь на рассылку</h2>
            <div class="mailing__text">
              <p>Получайте актуальную информацию об акциях и полезные статьи</p>
            </div>
          </div>
          <form class="mailing__form" action="#" data-need-validation>
            <div class="mailing__input-wrapper input-wrapper">
              <input class="mailing__input input input--big input--white" type="email" name="mailingEmail" id="mailingEmail" required>
              <label class="mailing__label" for="mailingEmail">E-mail</label>
            </div>
            <button class="mailing__button button button--big button--yellow">Подписаться</button>
            <div class="confidence-block">
              <input class="confidence-block__checkbox visually-hidden" type="checkbox" name="mailingConfidence" id="mailingConfidence" checked="checked" required="required">
              <label class="confidence-block__checkbox-label" for="mailingConfidence"><span>Даю согласие на обработку<a href="#">персональных данных</a></span>
              </label>
            </div>
          </form>
        </div>
      </div>
    </article>

    <div class="intro page-section page-section--first">
      <div class="narrow-container">
        <div class="breadcrumbs__container site-content-container">
          <div class="breadcrumbs">
            <div class="breadcrumbs__item">
              <a class="breadcrumbs__item-link page-hover-effect" href="./index.html">Главная</a>
            </div><span class="breadcrumbs__arrow"></span>
            <div class="breadcrumbs__item">
              <a class="breadcrumbs__item-link page-hover-effect" href="#">Карьера</a>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="intro__inner">
          <div class="intro__content">
            <ul class="intro__tags">
              <li class="intro__tag tag tag--medium tag--border-grey">Рады знакомству</li>
            </ul>
            <h1 class="intro__title">Карьера</h1>
            <div class="intro__text">
              <p>Присоединяйтесь к динамично развивающейся команде профессионалов</p>
            </div>
            <div class="intro__buttons">
              <button class="intro__button button button--big button--yellow" data-path="resume">Отправить резюме</button>
            </div>
          </div>
          <div class="intro__graphic" data-src="assets/images/career-intro-1.jpg" data-fancybox="data-fancybox">
            <picture>
              <source type="image/webp" data-srcset="assets/images/career-intro-1.webp" alt="Фото блока">
              <img class="lazyload" data-src="assets/images/career-intro-1.jpg" alt="Фото блока">
            </picture>
          </div>
        </div>
      </div>
    </div>

    <section class="contacts-section page-section--large-margin">
      <div class="container">
        <div class="contacts-section__inner lazyload" data-bg="./img/contacts-section-bg.png">
          <h2 class="contacts-section__title">Расскажите о вашем проекте</h2>
          <p class="contacts-section__desc">Заполните форму обратной связи и мы свяжемся с вами в&nbsp;ближайшее время!</p>
          <form class="contacts-section__form" data-need-validation>
            <div class="contacts-section__input-wrapper input-wrapper">
              <input class="contacts-section__input input input--big input--white" type="text" name="contactsName" id="contactsName" data-parsley-pattern="^[а-яА-ЯA-Za-z- ]+[^s]+$" required>
              <label class="contacts-section__label" for="contactsName">Ваше Имя</label>
            </div>
            <div class="contacts-section__input-wrapper input-wrapper">
              <input class="contacts-section__input input input--big input--white js-phone-input" type="tel" name="contactsPhone" id="contactsPhone" data-parsley-phone required>
              <label class="contacts-section__label" for="contactsPhone">Ваш телефон</label>
            </div>
            <div class="contacts-section__input-wrapper contacts-section__input-wrapper--large input-wrapper">
              <input class="contacts-section__input input input--big input--white" type="email" name="contactsEmail" id="contactsEmail" required>
              <label class="contacts-section__label" for="contactsEmail">Email</label>
            </div>
            <div class="contacts-section__input-wrapper contacts-section__input-wrapper--large input-wrapper input-wrapper--textarea">
              <textarea class="contacts-section__textarea input input--big input--white" name="contactsComment" id="contactsComment" placeholder="Ваш комментарий"></textarea>
            </div>
            <button class="contacts-section__button button button--big button--yellow">Отправить</button>
            <div class="confidence-block">
              <input class="confidence-block__checkbox visually-hidden" type="checkbox" name="contactsConfidence" id="contactsConfidence" checked="checked" required="required">
              <label class="confidence-block__checkbox-label" for="contactsConfidence"><span>Даю согласие на обработку<a href="#">персональных данных</a></span>
              </label>
            </div>
          </form>
        </div>
      </div>
    </section>

  {{/content}}
{{/extend}}
