{{#extend "layout"}}
  {{#content "main"}}

    <section class="news-single">

      <header class="post-header">
        <div class="narrow-container">
          <div class="breadcrumbs__container site-content-container">
            <div class="breadcrumbs">
              <div class="breadcrumbs__item">
                <a class="breadcrumbs__item-link page-hover-effect" href="./index.html">Главная</a>
              </div><span class="breadcrumbs__arrow"></span>
              <div class="breadcrumbs__item">
                <a class="breadcrumbs__item-link page-hover-effect" href="./events.html">Мероприятия</a>
              </div><span class="breadcrumbs__arrow"></span>
              <div class="breadcrumbs__item">
                <a class="breadcrumbs__item-link page-hover-effect" href="#">RDV на New Retail Forum 2021: обсуждаем новые технологии и полезные онлайн-сервисы для ритейла</a>
              </div>
            </div>
          </div>
        </div>
        <div class="container-block">
          <div class="post-header__inner">
            <picture>
              <source type="image/webp" data-srcset="./img/post-header-1.webp" alt="Фото интро-блока">
              <img class="lazyload post-header__img" data-src="./img/post-header-1.jpg" alt="Фото интро-блока">
            </picture>
            <div class="post-header__meta">
              <div class="post-header__time tag tag--medium tag--yellow" datetime="2023-03-30">
                <svg class="icon icon-date-icon">
                  <use xlink:href="#date-icon"></use>
                </svg><span>30 марта 2023, 08:00</span>
              </div>
              <ul class="post-header__meta-list">
                <li class="post-header__meta-item">
                  <div class="post-header__meta-icon">
                    <img class="lazyload" data-src="./img/meta-icon-3-white.svg">
                  </div><span class="post-header__meta-desc">7500</span>
                </li>
                <li class="post-header__meta-item">
                  <div class="post-header__meta-icon">
                    <img class="lazyload" data-src="./img/meta-icon-2-white.svg">
                  </div><span class="post-header__meta-desc">1 Час</span>
                </li>
                <li class="post-header__meta-item">
                  <div class="post-header__meta-icon">
                    <img class="lazyload" data-src="./img/meta-icon-4-white.svg">
                  </div><span class="post-header__meta-desc">Вебинар</span>
                </li>
                <li class="post-header__meta-item">
                  <div class="post-header__meta-icon">
                    <img class="lazyload" data-src="./img/meta-icon-5-white.svg">
                  </div><span class="post-header__meta-desc">Москва, Красносельская нижн. ул., д. 35 стр. 64</span>
                </li>
              </ul>
              <button class="post-header__share tag tag--medium tag--reverse tag--border-grey" data-path="share"><span>Поделиться</span>
                <svg class="icon icon-share-icon">
                  <use xlink:href="#share-icon"></use>
                </svg>
                <svg class="icon icon-share-icon-mobile">
                  <use xlink:href="#share-icon-mobile"></use>
                </svg>
              </button>
            </div>
            <h1 class="post-header__title">RDV на New Retail Forum 2022: обсуждаем новые технологии и полезные онлайн-сервисы для ритейла</h1>
            <button class="post-header__button button button--big button--yellow" data-path="#event-block">Зарегистрироваться</button>
          </div>
        </div>
        <div class="narrow-container">
          <ul class="post-header__tags js-more-button-row-container">
            <li class="post-header__tag button button--small button--bordered js-more-button-row-item">Технологии</li>
            <li class="post-header__tag button button--small button--bordered js-more-button-row-item">1С:УПП</li>
            <li class="post-header__tag button button--small button--bordered js-more-button-row-item">Ритейл</li>
            <li class="post-header__tag button button--small button--bordered js-more-button-row-item">Перевод клиентов</li>
            <li class="post-header__tag button button--small button--bordered js-more-button-row-item">Linux</li>
            <li class="post-header__tag button button--small button--bordered js-more-button-row-item">1С:ERP</li>
            <li class="post-header__tag button button--small button--bordered js-more-button-row-item">Технологии</li>
            <li class="post-header__tag button button--small button--bordered js-more-button-row-item">PostgreSQL</li>
            <li class="post-header__tag button button--small button--bordered js-more-button-row-item">Linux</li>
            <li class="post-header__tag button button--small button--bordered js-more-button-row-item">1С:ERP</li>
            <li class="post-header__tag button button--small button--bordered js-more-button-row-item">Технологии</li>
            <li class="post-header__tag button button--small button--bordered js-more-button-row-item">PostgreSQL</li>
            <li class="post-header__tag button button--small button--bordered js-more-button-row-item">Linux</li>
            <li class="post-header__tag button button--small button--bordered js-more-button-row-item">1С:ERP</li>
            <li class="post-header__tag button button--small button--bordered js-more-button-row-item">Технологии</li>
            <button class="post-header__tag-more button button--small button--bordered js-more-button-row">+<span class="js-more-button-row-surplus">0</span>
            </button>
          </ul>
        </div>
      </header>
      <div class="text-container-block">
        <h2>Введение</h2>
        <p>Расположение эпизодов аннигилирует диалогический одиннадцатисложник, но не рифмами. Замысел вразнобой аллитерирует музыкальный симулякр. Коммунальный модернизм притягивает дольник, потому что сюжет и фабула различаются. Реципиент сложен. Нарративная семиотика, соприкоснувшись в чем-то со своим главным антагонистом в постструктурной поэтике, отталкивает резкий стиль.</p>
        <p>Впечатление, за счет использования параллелизмов и повторов на разных языковых уровнях, отражает лирический субъект. Наряду с нейтральной лексикой акцент слабопроницаем. Драма параллельна. В данной работе мы не будем анализировать все эти аспекты, однако абстракционизм традиционно отталкивает холодный цинизм, таким образом, очевидно, что в нашем языке царит дух карнавала, пародийного отстранения. Зачин иллюстрирует музыкальный поток сознания.</p>
        <h2>Спикеры мероприятия</h2>
        <div class="speakers swiper js-more-button-container">
          <div class="swiper-wrapper">
            <div class="speakers__slide swiper-slide js-more-button-item">
              <div class="speakers__slide-img">
                <picture>
                  <source type="image/webp" data-srcset="./img/speakers-1.webp" alt="Фото спикера">
                  <img class="lazyload" data-src="./img/speakers-1.jpg" alt="Фото спикера">
                </picture>
              </div>
              <h3 class="speakers__slide-title">Попов Александр</h3><span class="speakers__slide-position">ERP-инженер</span>
            </div>
            <div class="speakers__slide swiper-slide js-more-button-item">
              <div class="speakers__slide-img">
                <picture>
                  <source type="image/webp" data-srcset="./img/speakers-2.webp" alt="Фото спикера">
                  <img class="lazyload" data-src="./img/speakers-2.jpg" alt="Фото спикера">
                </picture>
              </div>
              <h3 class="speakers__slide-title">Попов Александр</h3><span class="speakers__slide-position">ERP-инженер</span>
            </div>
            <div class="speakers__slide swiper-slide js-more-button-item">
              <div class="speakers__slide-img">
                <picture>
                  <source type="image/webp" data-srcset="./img/speakers-3.webp" alt="Фото спикера">
                  <img class="lazyload" data-src="./img/speakers-3.jpg" alt="Фото спикера">
                </picture>
              </div>
              <h3 class="speakers__slide-title">Елена Веренич</h3><span class="speakers__slide-position">ERP-инженер</span>
            </div>
            <div class="speakers__slide swiper-slide js-more-button-item">
              <div class="speakers__slide-img">
                <picture>
                  <source type="image/webp" data-srcset="./img/speakers-4.webp" alt="Фото спикера">
                  <img class="lazyload" data-src="./img/speakers-4.jpg" alt="Фото спикера">
                </picture>
              </div>
              <h3 class="speakers__slide-title">Попов Александр</h3><span class="speakers__slide-position">ERP-инженер</span>
            </div>
            <div class="speakers__slide swiper-slide js-more-button-item">
              <div class="speakers__slide-img">
                <picture>
                  <source type="image/webp" data-srcset="./img/speakers-2.webp" alt="Фото спикера">
                  <img class="lazyload" data-src="./img/speakers-2.jpg" alt="Фото спикера">
                </picture>
              </div>
              <h3 class="speakers__slide-title">Попов Александр</h3><span class="speakers__slide-position">ERP-инженер</span>
            </div>
            <div class="speakers__slide swiper-slide js-more-button-item">
              <div class="speakers__slide-img">
                <picture>
                  <source type="image/webp" data-srcset="./img/speakers-3.webp" alt="Фото спикера">
                  <img class="lazyload" data-src="./img/speakers-3.jpg" alt="Фото спикера">
                </picture>
              </div>
              <h3 class="speakers__slide-title">Елена Веренич</h3><span class="speakers__slide-position">ERP-инженер</span>
            </div>
            <div class="speakers__slide swiper-slide js-more-button-item">
              <div class="speakers__slide-img">
                <picture>
                  <source type="image/webp" data-srcset="./img/speakers-1.webp" alt="Фото спикера">
                  <img class="lazyload" data-src="./img/speakers-1.jpg" alt="Фото спикера">
                </picture>
              </div>
              <h3 class="speakers__slide-title">Попов Александр</h3><span class="speakers__slide-position">ERP-инженер</span>
            </div>
            <div class="speakers__slide swiper-slide js-more-button-item">
              <div class="speakers__slide-img">
                <picture>
                  <source type="image/webp" data-srcset="./img/speakers-2.webp" alt="Фото спикера">
                  <img class="lazyload" data-src="./img/speakers-2.jpg" alt="Фото спикера">
                </picture>
              </div>
              <h3 class="speakers__slide-title">Попов Александр</h3><span class="speakers__slide-position">ERP-инженер</span>
            </div>
          </div>
          <button class="speakers__more-button button button--big button--grey js-more-button" data-mobile-count="4">Показать еще</button>
          <div class="slider-navigation slider-navigation--grey slider-navigation--medium">
            <button class="slider-navigation__button js-prev-slide" aria-label="Назад">
              <svg class="icon icon-button-arrow">
                <use xlink:href="#button-arrow"></use>
              </svg>
            </button>
            <button class="slider-navigation__button js-next-slide" aria-label="Вперед">
              <svg class="icon icon-button-arrow">
                <use xlink:href="#button-arrow"></use>
              </svg>
            </button>
          </div>
        </div>
        <h2>Про варианты перехода с 1С:УПП на 1С:ERP</h2>
        <p>Расположение эпизодов аннигилирует диалогический одиннадцатисложник, но не рифмами. Замысел вразнобой аллитерирует музыкальный симулякр. Коммунальный модернизм притягивает дольник, потому что сюжет и фабула различаются. Реципиент сложен. Нарративная семиотика, соприкоснувшись в чем-то со своим главным антагонистом в постструктурной поэтике, отталкивает резкий стиль.</p>
        <h3>Вариант 1</h3>
        <div class="content-photos">
          <div class="content-photos__item">
            <a class="content-photos__item-img" data-fancybox data-src="./img/content-photos-1.jpg" href="#">
              <picture>
                <source type="image/webp" data-srcset="./img/content-photos-1.webp" alt="Контентое фото">
                <img class="lazyload" data-src="./img/content-photos-1.jpg" alt="Контентое фото">
              </picture>
            </a>
            <div class="content-photos__item-desc">Мелкая сноска с описанием фото</div>
          </div>
          <div class="content-photos__item">
            <a class="content-photos__item-img" data-fancybox data-src="./img/content-photos-1.jpg" href="#">
              <picture>
                <source type="image/webp" data-srcset="./img/content-photos-1.webp" alt="Контентое фото">
                <img class="lazyload" data-src="./img/content-photos-1.jpg" alt="Контентое фото">
              </picture>
            </a>
            <div class="content-photos__item-desc">Мелкая сноска с описанием фото</div>
          </div>
        </div>
        <h3>Вариант 2</h3>
        <p>Расположение эпизодов аннигилирует диалогический одиннадцатисложник, но не рифмами. Замысел вразнобой аллитерирует музыкальный симулякр. Коммунальный модернизм притягивает дольник, потому что сюжет и фабула различаются. Реципиент сложен. Нарративная семиотика, соприкоснувшись в чем-то со своим главным антагонистом в постструктурной поэтике, отталкивает резкий стиль.</p>
        <p>Впечатление, за счет использования параллелизмов и повторов на разных языковых уровнях, отражает лирический субъект. Наряду с нейтральной лексикой акцент слабопроницаем. Драма параллельна. В данной работе мы не будем анализировать все эти аспекты, однако абстракционизм традиционно отталкивает холодный цинизм, таким образом, очевидно, что в нашем языке царит дух карнавала, пародийного отстранения. Зачин иллюстрирует музыкальный поток сознания.</p>
        <blockquote class="blockquote">
          <div class="blockquote__icon">
            <img class="lazyload" data-src="./img/blockquote-icon.svg" alt="Иконка цитаты">
          </div>
          <div class="blockquote__text">
            <p>Расположение эпизодов аннигилирует диалогический одиннадцатисложник, но не рифмами. Замысел вразнобой аллитерирует</p>
          </div>
          <div class="blockquote__author">
            <div class="blockquote__author-img">
              <picture>
                <source type="image/webp" data-srcset="./img/blockquote-1.webp" alt="Фото автора">
                <img class="lazyload" data-src="./img/blockquote-1.jpg" alt="Фото автора">
              </picture>
            </div>
            <div class="blockquote__author-content">
              <cite class="blockquote__author-name">Александр Павлов</cite><span class="blockquote__author-position">Спикер направления</span>
            </div>
          </div>
        </blockquote>
        <h3>Вариант 3</h3>
        <p>Расположение эпизодов аннигилирует диалогический одиннадцатисложник, но не рифмами. Замысел вразнобой аллитерирует музыкальный симулякр. Коммунальный модернизм притягивает дольник, потому что сюжет и фабула различаются. Реципиент сложен. Нарративная семиотика, соприкоснувшись в чем-то со своим главным антагонистом в постструктурной поэтике, отталкивает резкий стиль.</p>
        <ul>
          <li>Список преимуществ</li>
          <li>Коммунальный модернизм притягивает дольник</li>
          <li>Замысел вразнобой аллитерирует музыкальный симулякр</li>
          <li>Нарративная семиотика</li>
        </ul>
        <h3>Для кого будет полезно?</h3>
        <div class="lead">
          <div class="lead__text">
            <p>Расположение эпизодов аннигилирует диалогический одиннадцатисложник, но не рифмами. Замысел вразнобой аллитерирует музыкальный симулякр.</p>
          </div>
          <ul class="lead__list">
            <li class="lead__item">
              <div class="lead__item-content">
                <h4 class="lead__item-title">Дизайнерам</h4>
                <div class="lead__item-text">
                  <p>Реципиент сложен. Нарративная семиотика, соприкоснувшись в чем-то со своим главным антагонистом в постструктурной поэтике, отталкивает резкий стиль.</p>
                </div>
              </div>
            </li>
            <li class="lead__item">
              <div class="lead__item-content">
                <h4 class="lead__item-title">Дизайнерам</h4>
                <div class="lead__item-text">
                  <p>Реципиент сложен. Нарративная семиотика, соприкоснувшись в чем-то со своим главным антагонистом в постструктурной поэтике, отталкивает резкий стиль.</p>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <h3>Про перевод клиентов на открытое ПО (Linux, PostgreSQL)</h3>
        <p>Расположение эпизодов аннигилирует диалогический одиннадцатисложник, но не рифмами. Замысел вразнобой аллитерирует музыкальный симулякр. Коммунальный модернизм притягивает дольник, потому что сюжет и фабула различаются. Реципиент сложен. Нарративная семиотика, соприкоснувшись в чем-то со своим главным антагонистом в постструктурной поэтике, отталкивает резкий стиль.</p>
        <div class="content-slider swiper">
          <div class="swiper-wrapper">
            <div class="content-slider__slide swiper-slide">
              <a class="content-slider__slide-img" data-fancybox="data-fancybox" href="./img/content-slider-1.jpg" target="_self">
                <picture>
                  <source type="image/webp" data-srcset="./img/content-slider-1.webp" alt="Контентое фото">
                  <img class="lazyload" data-src="./img/content-slider-1.jpg" alt="Контентое фото">
                </picture>
              </a>
              <div class="content-slider__slide-desc">Мелкая сноска с описанием фото</div>
            </div>
            <div class="content-slider__slide swiper-slide">
              <a class="content-slider__slide-img" data-fancybox="data-fancybox" href="./img/content-slider-1.jpg">
                <picture>
                  <source type="image/webp" data-srcset="./img/content-slider-1.webp" alt="Контентое фото">
                  <img class="lazyload" data-src="./img/content-slider-1.jpg" alt="Контентое фото">
                </picture>
              </a>
              <div class="content-slider__slide-desc">Мелкая сноска с описанием фото</div>
            </div>
            <div class="content-slider__slide swiper-slide">
              <a class="content-slider__slide-img" data-fancybox="data-fancybox" href="./img/content-slider-1.jpg">
                <picture>
                  <source type="image/webp" data-srcset="./img/content-slider-1.webp" alt="Контентое фото">
                  <img class="lazyload" data-src="./img/content-slider-1.jpg" alt="Контентое фото">
                </picture>
              </a>
              <div class="content-slider__slide-desc">Мелкая сноска с описанием фото</div>
            </div>
          </div>
          <div class="slider-navigation slider-navigation--grey slider-navigation--medium">
            <button class="slider-navigation__button js-prev-slide" aria-label="Назад">
              <svg class="icon icon-button-arrow">
                <use xlink:href="#button-arrow"></use>
              </svg>
            </button>
            <button class="slider-navigation__button js-next-slide" aria-label="Вперед">
              <svg class="icon icon-button-arrow">
                <use xlink:href="#button-arrow"></use>
              </svg>
            </button>
          </div>
          <div class="swiper-pagination-bullets-container">
            <div class="swiper-pagination-bullets"></div>
          </div>
        </div>
        <h3>Блок с видео</h3>
        <div class="content-videos">
          <div class="content-videos__item">
            <a class="content-videos__item-block" data-fancybox href="https://rdv-it.ru/upload/medialibrary/4d1/4d1418be40f3aeed64efa6d6c8ea5315.mp4" data-src="https://youtu.be/qZRJbuXLHWQ">
              <picture>
                <source type="image/webp" data-srcset="./img/content-videos-1.webp" alt="Превью к видео">
                <img class="lazyload content-videos__item-img" data-src="./img/content-videos-1.jpg" alt="Превью к видео">
              </picture><span class="content-videos__item-time tag tag--small tag--grey">23:48</span>
              <h4 class="content-videos__item-title">Примерный заголовок видео или анонс видео в одну или две строки</h4>
              <div class="content-videos__item-button">
                <svg class="icon icon-play-icon">
                  <use xlink:href="#play-icon"></use>
                </svg>
              </div>
            </a>
            <p class="content-videos__item-desc">Мелкая сноска с описанием фото для видео</p>
          </div>
          <div class="content-videos__item">
            <a class="content-videos__item-block lazyload" data-fancybox data-src="https://youtu.be/qZRJbuXLHWQ" href="#">
              <picture>
                <source type="image/webp" data-srcset="./img/content-videos-1.webp" alt="Превью к видео">
                <img class="lazyload content-videos__item-img" data-src="./img/content-videos-1.jpg" alt="Превью к видео">
              </picture><span class="content-videos__item-time tag tag--small tag--grey">23:48</span>
              <h4 class="content-videos__item-title">Примерный заголовок видео или анонс видео в одну или две строки</h4>
              <div class="content-videos__item-button">
                <svg class="icon icon-play-icon">
                  <use xlink:href="#play-icon"></use>
                </svg>
              </div>
            </a>
            <p class="content-videos__item-desc">Мелкая сноска с описанием фото для видео</p>
          </div>
        </div>
        <h3>Различие 3</h3>
        <p>Расположение эпизодов аннигилирует диалогический одиннадцатисложник, но не рифмами. Замысел вразнобой аллитерирует музыкальный симулякр. Коммунальный модернизм притягивает дольник, потому что сюжет и фабула различаются. Реципиент сложен.</p>
        <ol>
          <li>Выгода</li>
          <li>Мобильность</li>
          <li>Масштабируемость</li>
        </ol>
        <p>Расположение эпизодов аннигилирует диалогический одиннадцатисложник, но не рифмами. Замысел вразнобой аллитерирует музыкальный симулякр.</p>
        <div class="content-transitions">
          <div class="content-transitions__item">
            <p class="content-transitions__item-desc">Переход с 1С:УПП на 1C:ERP</p>
            <a class="content-transitions__item-link button button--icon button--icon-big button--white-trasparent" href="#">
              <svg class="icon icon-button-arrow">
                <use xlink:href="#button-arrow"></use>
              </svg>
            </a>
          </div>
          <div class="content-transitions__item">
            <p class="content-transitions__item-desc">Переход с 1С:УПП на 1C:ERP</p>
            <a class="content-transitions__item-link button button--icon button--icon-big button--white-trasparent" href="#">
              <svg class="icon icon-button-arrow">
                <use xlink:href="#button-arrow"></use>
              </svg>
            </a>
          </div>
          <div class="content-transitions__item">
            <p class="content-transitions__item-desc">Переход с 1С:УПП на 1C:ERP</p>
            <a class="content-transitions__item-link button button--icon button--icon-big button--white-trasparent" href="#">
              <svg class="icon icon-button-arrow">
                <use xlink:href="#button-arrow"></use>
              </svg>
            </a>
          </div>
        </div>
        <h3>Заключение</h3>
        <p>Расположение эпизодов аннигилирует диалогический одиннадцатисложник, но не рифмами. Замысел вразнобой аллитерирует музыкальный симулякр. Коммунальный модернизм притягивает дольник, потому что сюжет и фабула различаются. Реципиент сложен.</p>
        <p>Впечатление, за счет использования параллелизмов и повторов на разных языковых уровнях, отражает лирический субъект. Наряду с нейтральной лексикой акцент слабопроницаем. Драма параллельна. В данной работе мы не будем анализировать все эти аспекты, однако абстракционизм традиционно отталкивает холодный цинизм.</p>

        <footer class="content-footer">
          <p class="content-footer__text">У нас есть большой опыт реализации подобных проектов. Обратитесь к нам за консультацией</p>
          <a class="content-footer__link button button--big button--blue" href="#">Связаться</a>
        </footer>
      </div>
    </section>

  {{/content}}
{{/extend}}


<!--

    @include breakpoint(tablet) {

    }

    @include breakpoint(small-tablet) {

    }

    @include breakpoint(mobile) {

    }

-->
