{{#extend "layout"}}
    {{#content "main"}}

    <section class="default-margins">
        <div class="container">
            <h1 class="heading heading--line-blue">Блок с заголовком с чертой на всю ширину (H1)</h1>
        </div>
    </section>

    <section class="default-margins">
        <div class="container">
            <h2 class="heading heading--605">Блок с заголовком на пол страницы (H2, 605)</h2>
        </div>
    </section>

    <section class="default-margins">
        <div class="container">
            <h2 class="heading heading--line-blue heading--605">Блок с заголовком на пол страницы с чертой (H2, 605)</h2>
        </div>
    </section>

    <section class="default-margins">
        <div class="container">
            <h1 class="heading heading--line-yellow">Блок с заголовком с чертой на всю ширину (H1)</h1>
        </div>
    </section>

    <section class="default-margins">
        <div class="container">
            <h2 class="heading heading--711">Блок с заголовком (H2, 711)</h2>
        </div>
    </section>

    <section class="default-margins">
        <div class="container">
            <h2 class="heading heading--711 heading--line-yellow">Блок с заголовком с чертой (H2, 711)</h2>
        </div>
    </section>

    {{/content}}
{{/extend}}