{{#extend "layout"}}
  {{#content "main"}}

    <section class="links-list">
      <div class="container">
        <h2 class="links-list__title">Страницы:</h2>
        <div class="links-list__inner">
          <a class="button" href="./all.html" target="_blank">Всё сразу</a>
          <a class="button" href="./forms.html" target="_blank">1. Формы</a>
          <a class="button" href="./integration.html" target="_blank">2. Интеграция с Wildberries</a>
          <a class="button" href="./cards.html" target="_blank">3. Слайдер и два списка</a>
          <a class="button" href="./headings.html" target="_blank">4. Заголовки</a>
          <a class="button" href="./lists.html" target="_blank">4. Нумерованные списки и булиты</a>
          <a class="button" href="./steps.html" target="_blank">5. Шаги, частые вопросы, внимание</a>
          <a class="button" href="./columns.html" target="_blank">6. Блоки в 2 колонки</a>
          <a class="button" href="./comparison.html" target="_blank">7. Кнопки и сравнение</a>
          <a class="button" href="./text.html" target="_blank">8. Текст и блок видео</a>
          <a class="button" href="./temp.html" target="_blank">9. По правкам</a>
          <a class="button" href="./calculator.html" target="_blank">10. Калькулятор</a>
          <a class="button" href="./new.html" target="_blank">11. Новые</a>
          <a class="button" href="./last.html" target="_blank">12. Last</a>
        </div>
      </div>
    </section>

  {{/content}}
{{/extend}}