{{#extend "layout"}}
    {{#content "main"}}

        <section class="text">
            <div class="container">
                <div class="text__inner text-container">
                    <h2>Проблемы логистики торговых площадок на ECOM-Рынке</h2>
                    <p>Разберем некоторые проблемы, с которыми сталкиваются владельцы онлайн-площадок при попытке наладить логистику.</p>
                    <h3>1. Зонирование складских площадей</h3>
                    <p>Товар на складах торговых площадок не только хранится, но сортируется и комплектуется, а иногда товар на склад возвращается, если от него отказались клиенты. Чтобы организовать грамотную логистику необходимо разбить склад на несколько зон. Например, для выполнения технологически операций по приемке, хранению и отгрузке товара покупателям на складах выделяют следующие зоны:</p>
                    <ul>
                        <li>Зона разгрузки транспортных средств.</li>
                        <li>Экспедиция приемки товаров.</li>
                        <li>Основная зона хранения.</li>
                        <li>Зона погрузки грузов в транспортные средства.</li>
                    </ul>
                    <blockquote>
                        Кстати, по поводу автоматизации массовой упаковки, сборки и отгрузки заказов с маркетплейсов. В нашем
                        <a href="#">онлайн-сервисе RDV Маркет</a> разработаны готовые инструменты, которые вам помогут автоматизировать все складские процессы.
                        <a href="#">Посмотрите видеообзор!</a>
                    </blockquote>
                    <h3>2. Плавающая загруженность персонала</h3>
                    <p>В сезон роста продаж вам может потребоваться найм временных сотрудников. Ими могут оказаться недостаточно квалифицированные люди, которые не посвящены во все тонкости и процессы вашего бизнеса. Входом из данной ситуации может стать <b>конвейерный принцип работы</b>, при котором сезонные сотрудники будут выполнять элементарные задачи и функции. Также вы можете создать базу сезонных сотрудников для упрощения логистики в дальнейшем.</p>
                </div>
            </div>
        </section>

        {{>sections/intro-video}}

    {{/content}}
{{/extend}}