.slider-navigation {
  position: absolute;
  z-index: 1;

  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 0.4rem;

  &--grey {
    .slider-navigation__button {
      background-color: var(--grey-base-0);
      color: var(--main-base-0);

      @include mq('custom', 'min', 1025) {
        &:hover {
          background-color: var(--grey-D-10);
        }
      }

      &.swiper-button-disabled {
        background-color: var(--grey-base-0);
        color: var(--main-base-0);

        svg {
          opacity: 0.4;
        }
      }
    }
  }

  &--grey-bordered {
    .slider-navigation__button {
      border: 1px solid rgba(23, 79, 119, 0.1);
      color: var(--main-base-0);

      @include mq('custom', 'min', 1025) {
        &:hover {
          border-color: rgba(23, 79, 119, 0.5);
        }

        &:focus {
          border-color: var(--main-base-0);
        }
      }

      &.swiper-button-disabled {
        opacity: 0.7;
        border-color: rgba(23, 79, 119, 0.1);

        svg {
          color: var(--main-base-0);
        }
      }
    }
  }

  &--white {
    .slider-navigation__button {
      background-color: #fff;
      color: var(--main-base-0);

      @include mq('custom', 'min', 1025) {
        &:hover {
          background-color: var(--grey-D-10);
        }
      }

      &.swiper-button-disabled {
        background-color: var(--grey-base-0);
        color: var(--main-base-0);

        @include mq('custom', 'min', 1025) {
          &:hover {
            background-color: var(--grey-base-0);
          }
        }

        svg {
          opacity: 0.4;
        }
      }
    }
  }

  &--medium {
    .slider-navigation__button {
      width: 4rem;
      height: 4rem;

      border-radius: 0.8rem;

      svg {
        width: 1.4rem;
        height: 1.4rem;
      }
    }
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5.6rem;
    height: 5.6rem;

    border-radius: 1.2rem;
    background-color: var(--white-10);
    box-shadow: none;

    color: #fff;

    transition: 0.3s;

    @include mq('custom', 'min', 1025) {
      &:hover {
        background-color: var(--white-20);
      }
    }

    @include mq('custom', 'max', 1024) {
      width: 5rem;
      height: 5rem;
    }

    @include mq('custom', 'max', 768) {
      width: 4.5rem;
      height: 4.5rem;
    }

    @include mq('custom', 'max', 640) {
      width: 4rem;
      height: 4rem;

      border-radius: 0.8rem;
    }

    &:first-child {
      transform: rotate(180deg);
    }

    &.swiper-button-disabled {
      background-color: var(--white-10);
      color: var(--white-20);

      cursor: default;

      @include mq('custom', 'min', 1025) {
        &:hover {
          background-color: var(--white-10);
        }
      }

      svg {
        opacity: 0.8;
      }
    }

    svg {
      width: 2rem;
      height: 2rem;

      transition: opacity 0.3s;

      @include mq('custom', 'max', 640) {
        width: 1.4rem;
        height: 1.4rem;
      }
    }
  }
}
