*,
*::after,
*::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

*:focus {
    outline: 0;
    box-shadow: 0.2rem 0.2rem #939598, -0.2rem -0.2rem #939598, -0.2rem 0.2rem #939598, 0.2rem -0.2rem #939598;
}

html {
    box-sizing: border-box;
    font-size: 0.625vw;
    -webkit-text-size-adjust: 100%;

    @include noHighlight();

    @include breakpoint(tablet) {
        font-size: 10px;
    }
}

body {
    font-size: 1.6rem;
    line-height: 1.2;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Geometria', sans-serif;
    color: $grayscale-900;
}

main {
    display: block;
}

ul,
ol {
    list-style: none;
}

ol {
    counter-reset: ordered-list;
    & > li {
        counter-increment: ordered-list;
        &::before {
            content: counter(ordered-list, decimal-leading-zero) '.';
        }
    }
}

fieldset {
    border: none;
}

input,
textarea {
    border: none;
    border-radius: 0;
    font: inherit;
    outline: none;
    border-radius: 0;
    width: 100%;
    background-color: transparent;
    display: block;
}

input:not([type='checkbox']):not([type='radio']) {
    appearance: none;
    -webkit-appearance: none;
}

textarea {
    resize: none;
    display: block;
    width: 100%;
    overflow: auto;
    height: 20rem;
    @include customScrollbar();
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
}

input[type='number'] {
    -moz-appearance: textfield;
}

input[type='search'] {
    -webkit-appearance: textfield; /* 1 */
    outline-offset: -0.2rem; /* 2 */
}

input[type='search'] {
    -webkit-appearance: textfield;
}

input[type='search']::-webkit-search-decoration {
    -webkit-appearance: none;
}
input[type='search']::-webkit-search-cancel-button {
    -webkit-appearance: none;
    display: none;
}

button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    user-select: none;
    -webkit-appearance: none;
    font: inherit;
    color: inherit;
    outline: none;
    display: inline-flex;
    position: relative;
    transition: color 0.2s;
}

a {
    background-color: transparent;
    text-decoration: none;
    transition: color 0.2s;
    &:link,
    &:visited {
        color: inherit;
    }
}

a:where(:not[class]) {
    &:link,
    &:visited {
        color: $primary-300;
    }
}

svg {
    flex-shrink: 0;
    fill: currentColor;
    transition: fill 0.2s;
    overflow: visible;
    transform-origin: center center;
}

img {
    border-style: none;
    max-width: 100%;
    display: block;
    user-select: none;
}

img[data-sizes='auto'] {
    display: block;
    width: 100%;
}

img.lazyload:not([src]) {
    visibility: hidden;
}

table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
}

th {
    font-weight: 400;
}

td,
th {
    text-align: left;
    vertical-align: top;
}

::selection {
    color: white;
    background-color: $primary-100;
    -webkit-text-fill-color: $primary-900;
}

*::placeholder {
    user-select: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    background-color: transparent;
}
